In [1]:
print("test")
import os
from pathlib import Path
import sys
node_type = os.getenv('BB_CPU')
venv_dir = f'/rds/homes/g/gaddcz/Projects/CPRD/virtual-env-{node_type}'
venv_site_pkgs = Path(venv_dir) / 'lib' / f'python{sys.version_info.major}.{sys.version_info.minor}' / 'site-packages'
if venv_site_pkgs.exists():
    sys.path.insert(0, str(venv_site_pkgs))
    print(f"Added path '{venv_site_pkgs}' at start of search paths.")
else:
    print(f"Path '{venv_site_pkgs}' not found. Check that it exists and/or that it exists for node-type '{node_type}'.")

%load_ext autoreload
%autoreload 2

%env SQLITE_TMPDIR=/rds/projects/g/gokhalkm-optimal/DataforCharles
%env TMPDIR=/rds/projects/g/gokhalkm-optimal/DataforCharles
!echo $SQLITE_TMPDIR
!echo $TMPDIR
!echo $USERPROFILE

test
Added path '/rds/homes/g/gaddcz/Projects/CPRD/virtual-env-icelake/lib/python3.10/site-packages' at start of search paths.
env: SQLITE_TMPDIR=/rds/projects/g/gokhalkm-optimal/DataforCharles
env: TMPDIR=/rds/projects/g/gokhalkm-optimal/DataforCharles
/rds/projects/g/gokhalkm-optimal/DataforCharles
/rds/projects/g/gokhalkm-optimal/DataforCharles

In [2]:
import pytorch_lightning
import torch
import numpy as np
import matplotlib.pyplot as plt
import random
import sqlite3
import logging
import time
from CPRD.data.database.build_static_db import Static
from CPRD.data.database.build_diagnosis_db import Diagnoses
from CPRD.data.database.build_measurements_and_tests_db import Measurements

torch.manual_seed(1337)
logging.basicConfig(level=logging.DEBUG)
device = 'cuda' if torch.cuda.is_available() else 'cpu'

print(f"Using device: {device}.")

# !export TMPDIR=/rds/projects/g/gokhalkm-optimal/DataforCharles/tmp
!pwd

Using device: cuda.
/rds/homes/g/gaddcz/Projects/CPRD/data/database

In [3]:
# import pandas as pd
# generator = pd.read_csv(PATH_TO_STATIC, chunksize=10, iterator=True, encoding='utf-8', low_memory=False,
#                                dtype={'PATIENT_ID': 'str'}
#                                )
# for _idx, df in enumerate(generator):
#     display(df["IMD"])
#     if _idx > 100:
#         break

In [11]:
PATH_TO_DB = "/rds/projects/g/gokhalkm-optimal/OPTIMAL_MASTER_DATASET/data/cprd.db"

## Create/load tables

In [12]:
PATH_TO_STATIC = "/rds/projects/g/gokhalkm-optimal/OPTIMAL_MASTER_DATASET/data/baseline/masterDataOptimalWithIMD_v3.csv"
PATH_TO_DIAGNOSIS = "/rds/projects/g/gokhalkm-optimal/OPTIMAL_MASTER_DATASET/data/baseline/masterDataOptimalWithIMD_v3.csv"
PATH_TO_MEASUREMENTS = "/rds/projects/g/gokhalkm-optimal/OPTIMAL_MASTER_DATASET/data/timeseries/measurement_and_tests/lab_measurements/"
PATH_TO_MEDICATIONS = "/rds/projects/g/gokhalkm-optimal/OPTIMAL_MASTER_DATASET/data/timeseries/medications/"

load = True

static = Static(PATH_TO_DB, PATH_TO_STATIC, load=load)
diagnosis = Diagnoses(PATH_TO_DB, PATH_TO_DIAGNOSIS, load=load)
measurements = Measurements(PATH_TO_DB, PATH_TO_MEASUREMENTS, load=load)
medications = Measurements(PATH_TO_DB, PATH_TO_MEDICATIONS, load=load)

## View tables

These are built through a job script

In [13]:
for table in [static, diagnosis, measurements, medications]:
    print(table)

DEBUG:root:Connected to SQLite database
DEBUG:root:Disconnected from SQLite database
DEBUG:root:Connected to SQLite database

Static table with 28.12M records.

DEBUG:root:Disconnected from SQLite database
DEBUG:root:Connected to SQLite database

Diagnosis table with 51.00M records.

KeyboardInterrupt:

## Temporary manual fix to rename table names (so i dont need to rebuild the entire database from a bug fix)

In [26]:
# for table in measurements.measurement_table_names:
#     # print(table)
#     prefix = "measurement_AVF1_masterDataOptimal_v3_fullDB20231112044822_"
#     if table.startswith(prefix):
#         new_table = "measurement_" + table[len(prefix):]
#         print(table)
#         print(new_table)
#         measurements.cursor.execute(f"ALTER TABLE {table}  RENAME TO {new_table};")

In [25]:
measurements.connect()

print(measurements.measurement_table_names)

DEBUG:root:Connected to SQLite database

['measurement_25_Hydroxyvitamin_D2_level_92', 'measurement_25_Hydroxyvitamin_D3_level_90', 'measurement_AST___aspartate_transam_SGOT__46', 'measurement_AST_serum_level_47', 'measurement_Albumin___creatinine_ratio_37', 'measurement_Basophil_count_22', 'measurement_Blood_calcium_level_38', 'measurement_Blood_urea_28', 'measurement_Body_mass_index_3', 'measurement_Brain_natriuretic_peptide_level_66', 'measurement_Calcium_adjusted_level_41', 'measurement_Calculated_LDL_cholesterol_level_103', 'measurement_Combined_total_vitamin_D2_and_D3_level_93', 'measurement_Corrected_serum_calcium_level_42', 'measurement_Current_smoker_83', 'measurement_Diastolic_blood_pressure_5', 'measurement_Eosinophil_count_21', 'measurement_Erythrocyte_sedimentation_rate_61', 'measurement_Ex_smoker_84', 'measurement_Free_T4_level_76', 'measurement_GFR_calculated_abbreviated_MDRD_34', 'measurement_Haematocrit___PCV_16', 'measurement_Haematocrit_15', 'measurement_Haemoglobin_A1c_level___IFCC_standardised_6', 'measurement_Haemoglobin_A1c_level_8', 'measurement_Haemoglobin_estimation_9', 'measurement_HbA1c_level__DCCT_aligned__7', 'measurement_INR___international_normalised_ratio_81', 'measurement_International_normalised_ratio_82', 'measurement_Lymphocyte_count_20', 'measurement_Mean_corpusc_Hb_conc__MCHC__14', 'measurement_Mean_corpusc_haemoglobin_MCH__13', 'measurement_Mean_corpuscular_volume__MCV__11', 'measurement_Monocyte_count_23', 'measurement_N_terminal_pro_brain_natriuretic_peptide_level_67', 'measurement_Neutrophil_count_19', 'measurement_Never_smoked_tobacco_85', 'measurement_Non_HDL_cholesterol_level_108', 'measurement_O_E___height_1', 'measurement_O_E___weight_2', 'measurement_Plasma_B_natriuretic_peptide_level_69', 'measurement_Plasma_C_reactive_protein_60', 'measurement_Plasma_HDL_cholesterol_level_101', 'measurement_Plasma_LDL_cholesterol_level_104', 'measurement_Plasma_N_terminal_pro_B_type_natriuretic_peptide_conc_70', 'measurement_Plasma_TSH_level_73', 'measurement_Plasma_alanine_aminotransferase_level_44', 'measurement_Plasma_albumin_level_52', 'measurement_Plasma_alkaline_phosphatase_level_49', 'measurement_Plasma_calcium_level_40', 'measurement_Plasma_cholesterol_HDL_ratio_96', 'measurement_Plasma_corrected_calcium_level_43', 'measurement_Plasma_creatinine_level_32', 'measurement_Plasma_ferritin_level_62', 'measurement_Plasma_free_T4_level_77', 'measurement_Plasma_gamma_glutamyl_transferase_level_58', 'measurement_Plasma_potassium_level_27', 'measurement_Plasma_pro_brain_natriuretic_peptide_level_64', 'measurement_Plasma_sodium_level_25', 'measurement_Plasma_total_bilirubin_level_54', 'measurement_Plasma_total_cholesterol_level_99', 'measurement_Plasma_triglyceride_level_106', 'measurement_Plasma_urea_level_30', 'measurement_Platelet_count_12', 'measurement_Red_blood_cell__RBC__count_10', 'measurement_Red_blood_cell_distribution_width_17', 'measurement_Serum_25_Hydroxy_vitamin_D3_level_88', 'measurement_Serum_C_reactive_protein_level_59', 'measurement_Serum_HDL_cholesterol_level_100', 'measurement_Serum_LDL_cholesterol_level_102', 'measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68', 'measurement_Serum_T4_level_78', 'measurement_Serum_TSH_level_71', 'measurement_Serum_alanine_aminotransferase_level_45', 'measurement_Serum_albumin_51', 'measurement_Serum_alkaline_phosphatase_50', 'measurement_Serum_bilirubin_level_53', 'measurement_Serum_calcium_39', 'measurement_Serum_cholesterol_97', 'measurement_Serum_cholesterol_HDL_ratio_94', 'measurement_Serum_creatinine_31', 'measurement_Serum_ferritin_63', 'measurement_Serum_folate_80', 'measurement_Serum_free_T4_level_75', 'measurement_Serum_gamma_glutamyl_transferase_level_57', 'measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107', 'measurement_Serum_potassium_26', 'measurement_Serum_pro_brain_natriuretic_peptide_level_65', 'measurement_Serum_sodium_24', 'measurement_Serum_total_25_hydroxy_vitamin_D_level_87', 'measurement_Serum_total_bilirubin_level_56', 'measurement_Serum_total_cholesterol_level_98', 'measurement_Serum_triglycerides_105', 'measurement_Serum_urea_level_29', 'measurement_Serum_vitamin_B12_79', 'measurement_Serum_vitamin_D2_level_89', 'measurement_Serum_vitamin_D_86', 'measurement_Systolic_blood_pressure_4', 'measurement_TSH___thyroid_stim_hormone_72', 'measurement_TSH_level_74', 'measurement_Total_25_hydroxyvitamin_D_level_91', 'measurement_Total_alkaline_phosphatase_48', 'measurement_Total_bilirubin_55', 'measurement_Total_cholesterol_HDL_ratio_95', 'measurement_Total_white_cell_count_18', 'measurement_Urine_albumin_creatinine_ratio_35', 'measurement_Urine_microalbumin_creatinine_ratio_36', 'measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33', 'measurement_ACE_Inhibitors_D2T', 'measurement_AMD_DH_Donepezil', 'measurement_AMD_DH_Memantine', 'measurement_ARBs_Luyuan', 'measurement_Acarbose_AURUM', 'measurement_AldosteroneAntagonist_D2T', 'measurement_AllHIVdrugs_HIV', 'measurement_All_AntiArrhythmics_D2T', 'measurement_All_Antiplatelets', 'measurement_All_Diuretics_D2T', 'measurement_All_Diuretics_ExclLactones_D2T', 'measurement_AlphaBlocker', 'measurement_Amantadine', 'measurement_Amitriptyline_optimal', 'measurement_Anticonvulsants_OPTIMAL', 'measurement_Antihistamines_second_generation_H1_antagonists', 'measurement_Antipsychotics_OPTIMAL', 'measurement_Anxiolytics_mumpredict', 'measurement_Aspirin_OPTIMAL', 'measurement_Benzodiazepines', 'measurement_BetaBlockers_OPTIMAL', 'measurement_Bisphosphonates_osteoporosis', 'measurement_COCP_reg_contraception', 'measurement_COMT_Optimal', 'measurement_CalciumChannelBlck_D2T', 'measurement_Calcium_supplements_Optimal', 'measurement_Carbamazepine_Optimal', 'measurement_DPP4inhibitors_OPTIMAL', 'measurement_Dementia', 'measurement_Digoxin_', 'measurement_Direct_Acting_Oral_Anticoagulants_DOAC', 'measurement_Fibrate_FenofibrateOnly', 'measurement_First_gen_H1_antihistamines', 'measurement_GLP_1Aurum', 'measurement_Gabapentin_Oral_OPTIMAL', 'measurement_Galantamine_NEW', 'measurement_HydroxychloroquineAURUM_Zhaonan', 'measurement_ICS_PUSHAsthma', 'measurement_Insulin_Aurum_v2', 'measurement_LABA_PUSH_Asthma', 'measurement_LAMA_PUSHAsthma', 'measurement_LKA_PUSHAsthma', 'measurement_LeflunomideAURUM_Zhaonan', 'measurement_Levothyroxine_', 'measurement_Lipid_lowering_drugs_Optimal', 'measurement_Lithium_OPTIMAL', 'measurement_MAO_B_Optimal', 'measurement_Meglitinides_Aurum', 'measurement_Metformin_612_A10BD2', 'measurement_MethotrexateAURUM_Zhaonan', 'measurement_Mirtazapine', 'measurement_Monoamine_Oxidase_Inhibitors_OPTIMAL', 'measurement_NSAIDS_oral_OPTIMAL_final', 'measurement_Nasal_steroids_optimal', 'measurement_OCS_PUSHAsthma2', 'measurement_POP_reg_contraceptive', 'measurement_Paracetamol_OPTIMAL', 'measurement_Pregabalin_Optimal', 'measurement_PropranololAnxiety_mumpredict', 'measurement_Rivastigmine', 'measurement_SABA_PUSHAsthma', 'measurement_SGLT2inhibitors_Optimal', 'measurement_SNRIs_OPTIMAL', 'measurement_SSRIs_Optimal', 'measurement_Statins', 'measurement_Strong_Opioids_2022_Final', 'measurement_SulfasalazineAURUM_Zhaonan', 'measurement_Sulphonylureas_Aurum', 'measurement_Systemic_oral_corticosteroids_optimal', 'measurement_Thiazide_Diuretics_v2', 'measurement_Thiazolidinediones_Aurum_JC', 'measurement_Tricyclic_Antidepressants_final', 'measurement_UricAcid_LoweringDrugs_optimal', 'measurement_ValproateMigraine', 'measurement_Vitamin_D', 'measurement_Warfarin_', 'measurement_Weak_Opioids_Final', 'measurement_all_contraceptive', 'measurement_asthma_combined_inhalers', 'measurement_levodopa_Optimal', 'measurement_phosphodiesterasetype5inhibitor_OPTIMAL']

In [8]:

# measurements.cursor.execute(""" DROP TABLE measurement_SmokingStatus_NeverSmoked;""")
diagnosis.connect()
# diagnosis.cursor.execute(""" ALTER TABLE diagnosis_table
#                              RENAME COLUMN PRACTICE_PATIENT_ID TO PATIENT_ID;""")

DEBUG:root:Connected to SQLite database

## Test speed of SQLite table read

In [ ]:

for mtable in measurements.measurement_table_names:
    measurements.cursor.execute(f"""SELECT
                                    	COUNT(*)
                                    FROM
                                    	{mtable}
                                    """)
    # WHERE PRACTICE_PATIENT_ID = 'p20684_2602314020684' 
    a = measurements.cursor.fetchall()[0][0]
    print(mtable.ljust(50) + f"{a}")
    count += a
# print(a[:10])
print(count)

In [28]:
import time

measurements.connect()

t = time.time()   #  EXPLAIN QUERY PLAN        diagnosis_table           measurement_table        static_table
measurements.cursor.execute(""" SELECT EVENT, COUNT(EVENT)
                                FROM
                                	diagnosis_table
                                 GROUP BY 
                                     EVENT
                                 ;""")
total_count = 0
for condition, count in measurements.cursor.fetchall():
    print(f"{condition}".replace("_"," ").ljust(40) + f" & ${count:,}$ \\\\".rjust(10))
    total_count += count
print("Total".ljust(40) + f" & {total_count:,}")

eval_time = (time.time() - t)
print(eval_time )

ADDISONS DISEASE                         & $6,691$ \\
ADDISON DISEASE                          & $11,794$ \\
AF                                       & $731,332$ \\
ALCOHOLMISUSE V2                         & $1,125,212$ \\
ALLCANCER NOHAEM NOBCC                   & $1,496,973$ \\
ALLERGICRHINITISCONJ                     & $3,291,165$ \\
ALL DEMENTIA                             & $528,602$ \\
ANXIETY                                  & $3,560,978$ \\
ANY DEAFNESS HEARING LOSS V2             & $2,282,766$ \\
AORTICANEURYSM V2                        & $101,134$ \\
ASTHMA PUSHASTHMA                        & $4,175,115$ \\
ATOPICECZEMA                             & $4,369,082$ \\
AUTISM                                   & $156,860$ \\
BIPOLAR                                  & $108,852$ \\
BRONCHIECTASIS                           & $112,618$ \\
CHRONICFATIGUESYNDROMEMM V2              & $82,799$ \\
CHRONIC LIVER DISEASE ALCOHOL            & $63,405$ \\
CKDSTAGE3TO5                             & $1,088,754$ \\
COPD                                     & $751,320$ \\
CROHNS DISEASE                           & $81,250$ \\
CYSTICFIBROSIS                           & $7,053$ \\
DEATH                                    & $1,629,100$ \\
DEPRESSION                               & $4,109,336$ \\
DOWNSSYNDROME                            & $17,006$ \\
EATINGDISORDERS                          & $191,873$ \\
ENDOMETRIOSIS ADENOMYOSIS V2             & $209,157$ \\
EPILEPSY                                 & $377,341$ \\
FIBROMYALGIA                             & $153,213$ \\
GOUT                                     & $632,089$ \\
HAEMOCHROMATOSIS V2                      & $18,631$ \\
HF V3                                    & $524,982$ \\
HIVAIDS                                  & $41,951$ \\
HYPERTENSION                             & $3,934,473$ \\
HYPERTHYROIDISM V2                       & $217,964$ \\
HYPOTHYROIDISM DRAFT V1                  & $932,079$ \\
IHDINCLUDINGMI OPTIMALV2                 & $1,162,843$ \\
ILD SH                                   & $58,104$ \\
ISCHAEMICSTROKE V2                       & $178,437$ \\
LEUKAEMIA PREVALENCEV2                   & $54,438$ \\
LYMPHOMA PREVALENCE V2                   & $80,511$ \\
MENIERESDISEASE                          & $73,688$ \\
MINFARCTION                              & $477,556$ \\
MS                                       & $53,204$ \\
NAFLD V2                                 & $158,688$ \\
OSA                                      & $234,938$ \\
OSTEOARTHRITIS                           & $2,653,242$ \\
OSTEOPOROSIS                             & $628,118$ \\
OTHER CHRONIC LIVER DISEASE OPTIMAL      & $289,252$ \\
PAD STRICT                               & $254,632$ \\
PARKINSONS                               & $91,718$ \\
PERIPHERAL NEUROPATHY                    & $840,638$ \\
PERNICIOUSANAEMIA                        & $73,331$ \\
PLASMACELL NEOPLASM V2                   & $20,301$ \\
PMRANDGCA                                & $195,907$ \\
POLYCYSTIC OVARIAN SYNDROME PCOS V2      & $332,297$ \\
PREVALENT IBS V2                         & $1,210,229$ \\
PSORIASIS                                & $743,897$ \\
PSORIATICARTHRITIS2021                   & $51,273$ \\
PTSDDIAGNOSIS                            & $126,269$ \\
PVD V3                                   & $185,904$ \\
RHEUMATOIDARTHRITIS                      & $197,253$ \\
SCHIZOPHRENIAMM V2                       & $125,141$ \\
SICKLE CELL DISEASE V2                   & $11,159$ \\
SJOGRENSSYNDROME                         & $23,326$ \\
STROKEUNSPECIFIED V2                     & $446,046$ \\
STROKE HAEMRGIC                          & $83,609$ \\
SUBSTANCEMISUSE                          & $502,552$ \\
SYSTEMIC LUPUS ERYTHEMATOSUS             & $26,820$ \\
SYSTEMIC SCLEROSIS                       & $8,772$ \\
TYPE1DM                                  & $145,143$ \\
TYPE2DIABETES                            & $1,404,325$ \\
ULCERATIVE COLITIS                       & $120,361$ \\
VALVULARDISEASES V2                      & $401,061$ \\
VISUAL IMPAIRMENT                        & $155,707$ \\
Total                                    & 51,003,640
19.39475178718567

In [45]:
static.connect()
static.cursor.execute(""" SELECT *
                                FROM
                                	measurement_25_Hydroxyvitamin_D2_level_92
                                 ;""")
print(static.cursor.fetchone())

DEBUG:root:Connected to SQLite database

<class 'int'>

## Check query execution time

In [26]:
measurements.cursor.execute(f"""SELECT DISTINCT
                                    PATIENT_ID
                                FROM
                                    {mtable}
                                WHERE 
                                    PRACTICE_ID='20005'
                                """)
print(measurements.cursor.fetchall()[:100])

[(2960868120005,), (2960872920005,), (2960876820005,), (2960885820005,), (2960911920005,), (2960913820005,), (2960942420005,), (2960947320005,), (2960954920005,), (2960956720005,), (2960959120005,), (2960964320005,), (2960964620005,), (2981333420005,), (2984313520005,), (2984364120005,), (3142441820005,), (3231447320005,), (5410815220005,), (5610591420005,), (5610594420005,), (5690040620005,), (5690040920005,), (5702914820005,), (6060129520005,), (627688820005,), (628222420005,), (628591420005,), (628681820005,), (628841020005,), (629002720005,), (629950220005,), (629970320005,), (630276120005,), (630496820005,), (630637220005,), (630754220005,), (630825320005,), (630971220005,), (6606814520005,), (6618757120005,), (6621001220005,), (6688129820005,), (6717503120005,), (6910109220005,), (6917787120005,), (768817020005,), (8958004320005,), (8990528620005,), (8990529020005,), (8991433320005,), (8991433420005,)]

In [31]:
import time
start_time = time.time()
for mtable in measurements.measurement_table_names:
    measurements.cursor.execute(f"""SELECT
                                        *
                                    FROM
                                    	{mtable}
                                     WHERE
                                         PRACTICE_ID='20005' AND PATIENT_ID='30637220005'
                                    """)
    a = measurements.cursor.fetchall()
    # if len(a) > 0:
    #     print(a)

for table in ["diagnosis_table", "static_table"]:
    measurements.cursor.execute(f"""SELECT
                                        *
                                    FROM
                                    	{table}
                                     WHERE
                                         PRACTICE_ID='20005' AND PATIENT_ID='30637220005'
                                    """)
    
    # WHERE PRACTICE_PATIENT_ID = 'p20684_2602314020684' 
    a = measurements.cursor.fetchall()
    # print(a)
print(time.time()-start_time)

0.3020632266998291

# Collector demo

We can extract unique distinct column values from any table, and use these to chunk the data for processing

* We can add practice level conditions here,
    * e.g. practices that are in the North West region.

In [9]:
from CPRD.data.dataset.collector import SQLiteDataCollector
import polars as pl
import logging 
logging.basicConfig(level=logging.INFO)

collector = SQLiteDataCollector(PATH_TO_DB)
collector.connect()

practice_ids = collector._extract_distinct(["static_table"], "PRACTICE_ID", conditions=["HEALTH_AUTH = 'North West'"])

print(f"The first ten unique practice IDs: {practice_ids[:10]} from {len(practice_ids)} total")

DEBUG:root:Connected to SQLite database
DEBUG:root:Query: SELECT DISTINCT PRACTICE_ID FROM static_table WHERE HEALTH_AUTH = 'North West'

The first ten unique practice IDs: [21505, 20995, 20996, 21508, 21000, 21514, 21515, 21007, 21008, 21010] from 305 total

## Given these practice IDs, we can chain this query to get the pratice patient ID's in a practice

* We do this as only the static table has all practice_patient_id, patient_id, and practice_id stored and indexed.
    * This means we can very quickly find the keys needed to index on the other tables which only have practice_patient_id indexed.
* We can add patient level conditions here
    * For example, only male, people who died during a period, etc

In [11]:
practice_patient_ids = []
for p_id in practice_ids:
    practice_patient_ids.append(collector._extract_distinct(["static_table"], "PATIENT_ID", conditions=[f"PRACTICE_ID = '{p_id}' AND SEX = 'M'"]))
                                
print(f"\nThe first five unique patient IDs from practice {practice_ids[0]}:\n\t{practice_patient_ids[0][:5]} from {len(practice_patient_ids[0])} total")
print(f"\nTotal male patients in each practice:\n\t {[len(ppid) for ppid in practice_patient_ids]}")

DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21505' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20995' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20996' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21508' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21000' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21514' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21515' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21007' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21008' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21010' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20506' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20507' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20508' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20509' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20510' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20511' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20512' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20513' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20002' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20003' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20004' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20005' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20006' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20514' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20518' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20519' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20521' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20515' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20522' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20523' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20524' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20525' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20526' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20527' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20528' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20529' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20530' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20531' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20532' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20533' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20534' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20535' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20536' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20537' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20538' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20539' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20541' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20873' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20874' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21053' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21382' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21566' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21060' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21567' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21572' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20551' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20552' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20876' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20554' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20555' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20556' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20557' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20558' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21577' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21581' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21583' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20878' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21077' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20879' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20569' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20570' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20576' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21090' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21603' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21606' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20583' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21095' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20585' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21097' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21099' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21609' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21392' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21611' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21613' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21104' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21614' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21615' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20595' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21617' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21618' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21620' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21111' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21623' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20601' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21624' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21625' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21626' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21117' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20608' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21122' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20614' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21126' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21128' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20622' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20625' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21139' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20632' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21145' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20634' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21147' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21152' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21153' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21156' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21157' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21160' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20649' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21163' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21164' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21165' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21166' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20655' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20656' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21167' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20658' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20659' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21169' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20661' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21172' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21174' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20665' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21177' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20670' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20671' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20672' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20676' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21188' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21189' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21191' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20684' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21198' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20691' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20702' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21215' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21220' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20711' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21224' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20713' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20714' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20716' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20717' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20870' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21228' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21229' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21230' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20724' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20726' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20727' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20728' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21245' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21254' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21255' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20745' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21257' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21258' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21259' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21260' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20750' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21261' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21263' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21268' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20758' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21270' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21274' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21277' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21281' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20770' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21282' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21283' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21287' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21289' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21292' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21294' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21297' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21299' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21300' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20516' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21302' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21303' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '20793' AND SEX = 'M'
DEBUG:root:Query: SELECT DISTINCT PATIENT_ID FROM static_table WHERE PRACTICE_ID = '21304' AND SEX = 'M'

The first five unique practice_patient IDs from practice 21505:
	[6499299221505, 6499427221505, 6499478421505, 6499452821505, 6499606421505] from 2978 total

Total male patients in each practice:
	 [2978, 7353, 167, 10075, 3456, 10727, 5948, 10060, 3337, 4355, 4359, 4732, 9742, 9991, 7067, 7739, 5589, 2995, 12730, 15698, 8748, 6097, 4769, 7536, 6467, 10999, 8421, 3352, 4423, 13347, 6035, 8694, 11087, 12412, 7594, 2431, 7837, 7384, 4038, 9033, 7273, 6921, 14112, 7506, 6299, 8669, 4480, 2326, 8275, 10382, 3230, 6515, 5382, 3210, 4623, 11147, 4061, 7983, 4202, 9844, 7802, 9414, 6508, 6570, 17641, 14467, 2733, 5349, 36498, 36236, 4853, 13566, 4878, 6545, 231, 6101, 5236, 7443, 7149, 5396, 5926, 6347, 9721, 19320, 3748, 9388, 7912, 10456, 4048, 12342, 12121, 6510, 12210, 11697, 15807, 7896, 10871, 7275, 2947, 8767, 11560, 9993, 7809, 22261, 7067, 4748, 3451, 6236, 9718, 12605, 1077, 5160, 6008, 5280, 4139, 6202, 16834, 3648, 4768, 68067, 11073, 10346, 6716, 12517, 2112, 6095, 3990, 2316, 4959, 3229, 6307, 10423, 8499, 6009, 4102, 4425, 3681, 5796, 2332, 13750, 12158, 7182, 16368, 3390, 16867, 3981, 3346, 5276, 8399, 4490, 9405, 2326, 3721, 5952, 6340, 4431, 9213, 4038, 2601, 10431, 1930, 6388, 4473, 4008, 6665, 2491, 7712, 1938, 6558, 2224, 8992, 16841, 6118, 4935, 3264, 9787, 3696, 2243, 1772, 3861, 2875, 3065, 4925, 3940, 3727, 2318, 5866, 3878, 15994, 4240, 11354, 9401, 3839, 3007, 2174, 3972, 13249, 6919, 6595, 2812, 2414, 8707, 4902, 6683, 8025, 3930, 13999, 7459, 5220, 6417, 4598, 6342, 3341, 3707, 4539, 8400, 4086, 6894, 9794, 2777, 4206, 12716, 3917, 23129, 26719, 18685, 9177, 8175, 4438, 5008, 6890, 6625, 6015, 58229, 10745, 7268, 12136, 10484, 10309, 5878, 13033, 10113, 7568, 13680, 7112, 7278, 9559, 4615, 8357, 3432, 3773, 5708, 3649, 13179, 4395, 7167, 4215, 3563, 9251, 5780, 9360, 10611, 6400, 6019, 4467, 2242, 1857, 3565, 3491, 5273, 3082, 6458, 2052, 3426, 2071, 3829, 4353, 1560, 2156, 18184, 7997, 6454, 4960, 6806, 2988, 9294, 2187, 3624, 6759, 5731, 3070, 11792, 5973, 7719, 3779, 9638, 6975, 7852, 9225, 5920, 7313, 3348, 13381, 13297, 3613]

### Create a generator which chunks the .db tables by practice_id or practice_patient_id and lazily batch using Polars (Rust)

* We can also choose to pass this method a list of conditions, one for each table.
   * For example, we may only want to collect measurements within some predfined list, period etc

In the first case, we may want to generate by individual level values. 

Here, we then pass in the list we generate over - which in this instance is the list of practice patient ID's belonging to the first chunk. Here we are then yielding one person per call to the generator.

In [13]:
generator = collector._lazy_generate_by_distinct(distinct_values=practice_ids, 
                                                 identifier_column="PRACTICE_ID",)
start = time.time()
for _idx, (chunk_name, lazy_table_frames_dict) in enumerate(generator):
    
    print(f"collector took {time.time() - start} seconds")

    start = time.time()
    batch = collector._collate_lazy_tables(lazy_table_frames_dict).collect()
    print(f"collating events took {time.time() - start} seconds")

    start = time.time()
    if _idx > 5:
        break
    
print(lazy_table_frames_dict)
# print(f"Chunk containing practice ID: {chunk_name}\n\n")
for key in lazy_table_frames_dict.keys():
    print(key)
    display(lazy_table_frames_dict[key].collect().head())

DEBUG:root:Query: SELECT * FROM static_table WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.08716821670532227 seconds/practice
DEBUG:root:Query: SELECT * FROM diagnosis_table WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.28239917755126953 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D2_level_92 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.19316744804382324 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D3_level_90 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.07250165939331055 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST___aspartate_transam_SGOT__46 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.16443133354187012 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST_serum_level_47 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.16618871688842773 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Albumin___creatinine_ratio_37 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.10820198059082031 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Basophil_count_22 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.21849894523620605 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_calcium_level_38 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.08892989158630371 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_urea_28 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.021558761596679688 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Body_mass_index_3 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.21808934211730957 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Brain_natriuretic_peptide_level_66 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.12940526008605957 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calcium_adjusted_level_41 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.15851879119873047 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calculated_LDL_cholesterol_level_103 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.14792537689208984 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Combined_total_vitamin_D2_and_D3_level_93 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1739060878753662 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Corrected_serum_calcium_level_42 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.12376666069030762 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Current_smoker_83 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18126821517944336 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Diastolic_blood_pressure_5 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.25130176544189453 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Eosinophil_count_21 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.19012975692749023 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Erythrocyte_sedimentation_rate_61 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18129372596740723 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Ex_smoker_84 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.22761797904968262 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Free_T4_level_76 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1648247241973877 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_GFR_calculated_abbreviated_MDRD_34 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.19379663467407227 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit___PCV_16 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.19705939292907715 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit_15 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.21257591247558594 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level___IFCC_standardised_6 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.21897220611572266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level_8 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1481609344482422 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_estimation_9 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18581461906433105 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_HbA1c_level__DCCT_aligned__7 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.25928401947021484 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_INR___international_normalised_ratio_81 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.12574172019958496 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_International_normalised_ratio_82 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18075180053710938 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Lymphocyte_count_20 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1991887092590332 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_Hb_conc__MCHC__14 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.21371865272521973 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_haemoglobin_MCH__13 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18573331832885742 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpuscular_volume__MCV__11 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.2149519920349121 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Monocyte_count_23 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.22050046920776367 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_N_terminal_pro_brain_natriuretic_peptide_level_67 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1223304271697998 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Neutrophil_count_19 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18451762199401855 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Never_smoked_tobacco_85 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17987656593322754 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Non_HDL_cholesterol_level_108 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.19498753547668457 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___height_1 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.2118978500366211 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___weight_2 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.22224187850952148 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_B_natriuretic_peptide_level_69 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.09810805320739746 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_C_reactive_protein_60 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1020505428314209 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_HDL_cholesterol_level_101 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.12340736389160156 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_LDL_cholesterol_level_104 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.11713409423828125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_N_terminal_pro_B_type_natriuretic_peptide_conc_70 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.06441569328308105 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_TSH_level_73 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.014041900634765625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alanine_aminotransferase_level_44 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1435534954071045 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_albumin_level_52 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17327427864074707 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alkaline_phosphatase_level_49 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.127763032913208 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_calcium_level_40 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.11635041236877441 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_cholesterol_HDL_ratio_96 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.09991168975830078 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_corrected_calcium_level_43 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.13659930229187012 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_creatinine_level_32 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.08336377143859863 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_ferritin_level_62 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1874256134033203 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_free_T4_level_77 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.02929401397705078 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_gamma_glutamyl_transferase_level_58 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.155869722366333 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_potassium_level_27 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.14548921585083008 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_pro_brain_natriuretic_peptide_level_64 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.02249908447265625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_sodium_level_25 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.11966204643249512 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_bilirubin_level_54 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17946505546569824 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_cholesterol_level_99 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.16566681861877441 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_triglyceride_level_106 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17631888389587402 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_urea_level_30 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.11355900764465332 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Platelet_count_12 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.22142314910888672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell__RBC__count_10 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.20999932289123535 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell_distribution_width_17 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.21580958366394043 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_25_Hydroxy_vitamin_D3_level_88 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.12478828430175781 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_C_reactive_protein_level_59 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1921372413635254 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_HDL_cholesterol_level_100 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.19482827186584473 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_LDL_cholesterol_level_102 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.16982674598693848 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1604602336883545 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_T4_level_78 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.23767757415771484 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_TSH_level_71 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17454957962036133 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alanine_aminotransferase_level_45 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.24129819869995117 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_albumin_51 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.15226101875305176 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alkaline_phosphatase_50 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17487001419067383 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_bilirubin_level_53 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.20041418075561523 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_calcium_39 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1943037509918213 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_97 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.24063611030578613 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_HDL_ratio_94 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.2811086177825928 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_creatinine_31 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.2288341522216797 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_ferritin_63 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17743325233459473 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_folate_80 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.3592815399169922 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_free_T4_level_75 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.2683889865875244 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_gamma_glutamyl_transferase_level_57 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1952657699584961 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.15587449073791504 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_potassium_26 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17784667015075684 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_pro_brain_natriuretic_peptide_level_65 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.14392304420471191 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_sodium_24 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1604468822479248 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_25_hydroxy_vitamin_D_level_87 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.21698307991027832 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_bilirubin_level_56 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.22394776344299316 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_cholesterol_level_98 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1546769142150879 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_triglycerides_105 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.22836661338806152 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_urea_level_29 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18699121475219727 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_B12_79 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.24862003326416016 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D2_level_89 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.08484435081481934 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D_86 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.020712614059448242 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Systolic_blood_pressure_4 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.26375341415405273 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH___thyroid_stim_hormone_72 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.17922401428222656 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH_level_74 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.13391566276550293 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_25_hydroxyvitamin_D_level_91 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.07939529418945312 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_alkaline_phosphatase_48 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.10954952239990234 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_bilirubin_55 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.12813162803649902 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_cholesterol_HDL_ratio_95 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1490767002105713 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_white_cell_count_18 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18540334701538086 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_albumin_creatinine_ratio_35 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.18052339553833008 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_microalbumin_creatinine_ratio_36 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.07034611701965332 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33 WHERE PRACTICE_ID = '21505'
DEBUG:root:loaded 1 practices from table in 0.1777181625366211 seconds/practice
DEBUG:root:Dropping missing measurements

collector took 18.426275491714478 seconds
collating events took 0.19113659858703613 seconds

DEBUG:root:loaded 1 practices from table in 0.12081551551818848 seconds/practice
DEBUG:root:Query: SELECT * FROM diagnosis_table WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.45955848693847656 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D2_level_92 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0019221305847167969 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D3_level_90 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.006295919418334961 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST___aspartate_transam_SGOT__46 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.10662031173706055 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST_serum_level_47 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1645832061767578 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Albumin___creatinine_ratio_37 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0019481182098388672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Basophil_count_22 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.31087541580200195 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_calcium_level_38 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.07117080688476562 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_urea_28 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0034322738647460938 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Body_mass_index_3 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2315201759338379 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Brain_natriuretic_peptide_level_66 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.001867055892944336 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calcium_adjusted_level_41 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.006750822067260742 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calculated_LDL_cholesterol_level_103 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.15033960342407227 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Combined_total_vitamin_D2_and_D3_level_93 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.006325960159301758 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Corrected_serum_calcium_level_42 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1649489402770996 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Current_smoker_83 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.15717124938964844 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Diastolic_blood_pressure_5 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2707953453063965 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Eosinophil_count_21 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2373969554901123 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Erythrocyte_sedimentation_rate_61 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1906123161315918 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Ex_smoker_84 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.19948053359985352 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Free_T4_level_76 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.007376670837402344 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_GFR_calculated_abbreviated_MDRD_34 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.21563315391540527 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit___PCV_16 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1919848918914795 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit_15 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.21836328506469727 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level___IFCC_standardised_6 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.20237398147583008 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level_8 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1578381061553955 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_estimation_9 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.22595810890197754 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_HbA1c_level__DCCT_aligned__7 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.14821481704711914 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_INR___international_normalised_ratio_81 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.18106508255004883 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_International_normalised_ratio_82 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.17498564720153809 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Lymphocyte_count_20 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.24586749076843262 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_Hb_conc__MCHC__14 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.20224475860595703 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_haemoglobin_MCH__13 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.21065020561218262 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpuscular_volume__MCV__11 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.22909164428710938 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Monocyte_count_23 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2170412540435791 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_N_terminal_pro_brain_natriuretic_peptide_level_67 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.00183868408203125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Neutrophil_count_19 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.325439453125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Never_smoked_tobacco_85 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.17963385581970215 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Non_HDL_cholesterol_level_108 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.050234079360961914 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___height_1 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.22104215621948242 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___weight_2 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.36112260818481445 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_B_natriuretic_peptide_level_69 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0022072792053222656 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_C_reactive_protein_60 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.06421780586242676 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_HDL_cholesterol_level_101 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.11193680763244629 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_LDL_cholesterol_level_104 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.016214370727539062 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_N_terminal_pro_B_type_natriuretic_peptide_conc_70 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.001986265182495117 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_TSH_level_73 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.06084799766540527 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alanine_aminotransferase_level_44 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1256873607635498 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_albumin_level_52 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.07914257049560547 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alkaline_phosphatase_level_49 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.12190008163452148 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_calcium_level_40 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.10122466087341309 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_cholesterol_HDL_ratio_96 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.08792734146118164 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_corrected_calcium_level_43 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.05025506019592285 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_creatinine_level_32 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.17496275901794434 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_ferritin_level_62 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.009958744049072266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_free_T4_level_77 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0017936229705810547 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_gamma_glutamyl_transferase_level_58 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.05777692794799805 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_potassium_level_27 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.10322999954223633 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_pro_brain_natriuretic_peptide_level_64 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.09429025650024414 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_sodium_level_25 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1258389949798584 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_bilirubin_level_54 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0019385814666748047 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_cholesterol_level_99 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.10163283348083496 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_triglyceride_level_106 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0832056999206543 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_urea_level_30 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.04031181335449219 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Platelet_count_12 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2595679759979248 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell__RBC__count_10 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2302989959716797 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell_distribution_width_17 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.25338149070739746 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_25_Hydroxy_vitamin_D3_level_88 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.08581352233886719 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_C_reactive_protein_level_59 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.17534208297729492 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_HDL_cholesterol_level_100 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.18302226066589355 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_LDL_cholesterol_level_102 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2107563018798828 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.006778240203857422 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_T4_level_78 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.001794576644897461 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_TSH_level_71 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.22564959526062012 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alanine_aminotransferase_level_45 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2051234245300293 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_albumin_51 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2985382080078125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alkaline_phosphatase_50 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2527484893798828 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_bilirubin_level_53 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.23947906494140625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_calcium_39 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.19640111923217773 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_97 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1874396800994873 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_HDL_ratio_94 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1396336555480957 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_creatinine_31 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.22883129119873047 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_ferritin_63 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.13826465606689453 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_folate_80 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.13600373268127441 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_free_T4_level_75 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.13956570625305176 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_gamma_glutamyl_transferase_level_57 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2034609317779541 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.12831544876098633 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_potassium_26 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.22962498664855957 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_pro_brain_natriuretic_peptide_level_65 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0018558502197265625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_sodium_24 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.28245997428894043 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_25_hydroxy_vitamin_D_level_87 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.010614395141601562 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_bilirubin_level_56 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.22053742408752441 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_cholesterol_level_98 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.15066814422607422 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_triglycerides_105 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1828293800354004 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_urea_level_29 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.20333623886108398 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_B12_79 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1344127655029297 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D2_level_89 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.006635427474975586 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D_86 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.12579846382141113 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Systolic_blood_pressure_4 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.2993910312652588 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH___thyroid_stim_hormone_72 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.132537841796875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH_level_74 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.011758089065551758 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_25_hydroxyvitamin_D_level_91 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.0017533302307128906 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_alkaline_phosphatase_48 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.11534237861633301 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_bilirubin_55 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.01549220085144043 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_cholesterol_HDL_ratio_95 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.1419384479522705 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_white_cell_count_18 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.28411054611206055 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_albumin_creatinine_ratio_35 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.17557048797607422 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_microalbumin_creatinine_ratio_36 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.006119251251220703 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33 WHERE PRACTICE_ID = '20995'
DEBUG:root:loaded 1 practices from table in 0.21469569206237793 seconds/practice
DEBUG:root:Dropping missing measurements
DEBUG:root:Removing patients with no observed events

collector took 15.557485580444336 seconds

DEBUG:root:Query: SELECT * FROM static_table WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.16534662246704102 seconds/practice
DEBUG:root:Query: SELECT * FROM diagnosis_table WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.008449077606201172 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D2_level_92 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0018794536590576172 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D3_level_90 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.00196075439453125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST___aspartate_transam_SGOT__46 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.006097078323364258 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST_serum_level_47 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0018084049224853516 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Albumin___creatinine_ratio_37 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.005891561508178711 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Basophil_count_22 WHERE PRACTICE_ID = '20996'

collating events took 0.5720841884613037 seconds

DEBUG:root:loaded 1 practices from table in 0.12181448936462402 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_calcium_level_38 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0016584396362304688 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_urea_28 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017712116241455078 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Body_mass_index_3 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10567069053649902 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Brain_natriuretic_peptide_level_66 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017085075378417969 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calcium_adjusted_level_41 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.007191181182861328 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calculated_LDL_cholesterol_level_103 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017981529235839844 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Combined_total_vitamin_D2_and_D3_level_93 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.006157875061035156 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Corrected_serum_calcium_level_42 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.08746123313903809 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Current_smoker_83 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09217977523803711 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Diastolic_blood_pressure_5 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.08704066276550293 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Eosinophil_count_21 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.12462329864501953 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Erythrocyte_sedimentation_rate_61 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.07252240180969238 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Ex_smoker_84 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.07262802124023438 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Free_T4_level_76 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0020415782928466797 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_GFR_calculated_abbreviated_MDRD_34 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.21437478065490723 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit___PCV_16 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0020198822021484375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit_15 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.11575627326965332 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level___IFCC_standardised_6 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10119295120239258 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level_8 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0019757747650146484 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_estimation_9 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10559797286987305 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_HbA1c_level__DCCT_aligned__7 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.06424427032470703 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_INR___international_normalised_ratio_81 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.001964092254638672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_International_normalised_ratio_82 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09233903884887695 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Lymphocyte_count_20 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09526419639587402 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_Hb_conc__MCHC__14 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10386323928833008 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_haemoglobin_MCH__13 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.11050176620483398 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpuscular_volume__MCV__11 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.1519174575805664 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Monocyte_count_23 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10091972351074219 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_N_terminal_pro_brain_natriuretic_peptide_level_67 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017154216766357422 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Neutrophil_count_19 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09391474723815918 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Never_smoked_tobacco_85 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09581875801086426 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Non_HDL_cholesterol_level_108 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.006258726119995117 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___height_1 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.11273574829101562 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___weight_2 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.12961721420288086 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_B_natriuretic_peptide_level_69 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017104148864746094 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_C_reactive_protein_60 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017478466033935547 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_HDL_cholesterol_level_101 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0061151981353759766 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_LDL_cholesterol_level_104 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0018742084503173828 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_N_terminal_pro_B_type_natriuretic_peptide_conc_70 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.001733541488647461 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_TSH_level_73 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.007717609405517578 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alanine_aminotransferase_level_44 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0018930435180664062 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_albumin_level_52 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.006851911544799805 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alkaline_phosphatase_level_49 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0021295547485351562 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_calcium_level_40 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.00663447380065918 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_cholesterol_HDL_ratio_96 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0016016960144042969 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_corrected_calcium_level_43 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0016515254974365234 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_creatinine_level_32 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.006157398223876953 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_ferritin_level_62 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.00177764892578125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_free_T4_level_77 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017266273498535156 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_gamma_glutamyl_transferase_level_58 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0016922950744628906 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_potassium_level_27 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0018143653869628906 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_pro_brain_natriuretic_peptide_level_64 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.00634765625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_sodium_level_25 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.001967906951904297 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_bilirubin_level_54 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.001934051513671875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_cholesterol_level_99 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017728805541992188 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_triglyceride_level_106 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017266273498535156 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_urea_level_30 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.001711130142211914 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Platelet_count_12 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.11281132698059082 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell__RBC__count_10 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.11098718643188477 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell_distribution_width_17 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09397745132446289 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_25_Hydroxy_vitamin_D3_level_88 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.006133317947387695 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_C_reactive_protein_level_59 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.08719778060913086 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_HDL_cholesterol_level_100 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0778651237487793 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_LDL_cholesterol_level_102 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.05573391914367676 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017189979553222656 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_T4_level_78 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017406940460205078 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_TSH_level_71 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.12869644165039062 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alanine_aminotransferase_level_45 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09049248695373535 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_albumin_51 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10231399536132812 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alkaline_phosphatase_50 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.08249282836914062 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_bilirubin_level_53 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017900466918945312 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_calcium_39 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.08495044708251953 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_97 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.11329030990600586 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_HDL_ratio_94 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.061066389083862305 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_creatinine_31 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09283971786499023 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_ferritin_63 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09914803504943848 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_folate_80 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.09925103187561035 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_free_T4_level_75 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.1832256317138672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_gamma_glutamyl_transferase_level_57 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.08811736106872559 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0841825008392334 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_potassium_26 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.11112475395202637 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_pro_brain_natriuretic_peptide_level_65 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0018210411071777344 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_sodium_24 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.1453561782836914 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_25_hydroxy_vitamin_D_level_87 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.001783132553100586 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_bilirubin_level_56 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.17236113548278809 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_cholesterol_level_98 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017857551574707031 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_triglycerides_105 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.13465619087219238 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_urea_level_29 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.12627196311950684 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_B12_79 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.1283705234527588 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D2_level_89 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0016989707946777344 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D_86 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017580986022949219 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Systolic_blood_pressure_4 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10831141471862793 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH___thyroid_stim_hormone_72 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10718536376953125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH_level_74 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017771720886230469 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_25_hydroxyvitamin_D_level_91 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017457008361816406 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_alkaline_phosphatase_48 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0016083717346191406 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_bilirubin_55 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0016689300537109375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_cholesterol_HDL_ratio_95 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.13520574569702148 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_white_cell_count_18 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.11269783973693848 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_albumin_creatinine_ratio_35 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.10797810554504395 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_microalbumin_creatinine_ratio_36 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017402172088623047 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33 WHERE PRACTICE_ID = '20996'
DEBUG:root:loaded 1 practices from table in 0.0017688274383544922 seconds/practice
DEBUG:root:Dropping missing measurements
DEBUG:root:Removing patients with no observed events
DEBUG:root:Query: SELECT * FROM static_table WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.15692591667175293 seconds/practice
DEBUG:root:Query: SELECT * FROM diagnosis_table WHERE PRACTICE_ID = '21508'

collector took 6.051788330078125 seconds
collating events took 0.011142253875732422 seconds

DEBUG:root:loaded 1 practices from table in 0.038919925689697266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D2_level_92 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.13079214096069336 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D3_level_90 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.006444692611694336 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST___aspartate_transam_SGOT__46 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.010477066040039062 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST_serum_level_47 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.10537004470825195 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Albumin___creatinine_ratio_37 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0017616748809814453 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Basophil_count_22 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2647435665130615 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_calcium_level_38 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.00179290771484375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_urea_28 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.013053178787231445 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Body_mass_index_3 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.22716379165649414 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Brain_natriuretic_peptide_level_66 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0016562938690185547 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calcium_adjusted_level_41 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0019104480743408203 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calculated_LDL_cholesterol_level_103 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.13228106498718262 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Combined_total_vitamin_D2_and_D3_level_93 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.001708984375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Corrected_serum_calcium_level_42 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.13280105590820312 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Current_smoker_83 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.15920448303222656 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Diastolic_blood_pressure_5 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.387737512588501 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Eosinophil_count_21 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2135910987854004 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Erythrocyte_sedimentation_rate_61 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2852132320404053 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Ex_smoker_84 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.1011962890625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Free_T4_level_76 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.010711669921875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_GFR_calculated_abbreviated_MDRD_34 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.13908839225769043 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit___PCV_16 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.10458087921142578 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit_15 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.22573208808898926 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level___IFCC_standardised_6 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.1387803554534912 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level_8 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.15403270721435547 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_estimation_9 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.21882295608520508 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_HbA1c_level__DCCT_aligned__7 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.11855149269104004 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_INR___international_normalised_ratio_81 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0065920352935791016 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_International_normalised_ratio_82 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.12239503860473633 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Lymphocyte_count_20 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.30103158950805664 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_Hb_conc__MCHC__14 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.3105940818786621 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_haemoglobin_MCH__13 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2766227722167969 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpuscular_volume__MCV__11 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.22397708892822266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Monocyte_count_23 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.23305940628051758 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_N_terminal_pro_brain_natriuretic_peptide_level_67 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0017452239990234375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Neutrophil_count_19 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.23557615280151367 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Never_smoked_tobacco_85 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.12685871124267578 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Non_HDL_cholesterol_level_108 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0019073486328125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___height_1 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2399899959564209 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___weight_2 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.23686814308166504 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_B_natriuretic_peptide_level_69 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.001798391342163086 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_C_reactive_protein_60 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.10194563865661621 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_HDL_cholesterol_level_101 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.05251765251159668 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_LDL_cholesterol_level_104 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.07375693321228027 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_N_terminal_pro_B_type_natriuretic_peptide_conc_70 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.002218961715698242 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_TSH_level_73 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0019030570983886719 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alanine_aminotransferase_level_44 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.125565767288208 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_albumin_level_52 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.08060860633850098 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alkaline_phosphatase_level_49 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.10464882850646973 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_calcium_level_40 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.010260581970214844 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_cholesterol_HDL_ratio_96 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0017240047454833984 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_corrected_calcium_level_43 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0607914924621582 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_creatinine_level_32 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.14435076713562012 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_ferritin_level_62 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.001684427261352539 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_free_T4_level_77 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0016584396362304688 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_gamma_glutamyl_transferase_level_58 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.019072771072387695 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_potassium_level_27 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.18420743942260742 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_pro_brain_natriuretic_peptide_level_64 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0065839290618896484 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_sodium_level_25 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.016480207443237305 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_bilirubin_level_54 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0937659740447998 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_cholesterol_level_99 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.05429196357727051 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_triglyceride_level_106 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.010637998580932617 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_urea_level_30 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.04845166206359863 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Platelet_count_12 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.14730548858642578 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell__RBC__count_10 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.21896815299987793 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell_distribution_width_17 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.15394282341003418 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_25_Hydroxy_vitamin_D3_level_88 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.060233116149902344 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_C_reactive_protein_level_59 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.08289003372192383 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_HDL_cholesterol_level_100 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.20534014701843262 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_LDL_cholesterol_level_102 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.13853955268859863 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.001695871353149414 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_T4_level_78 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.004786491394042969 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_TSH_level_71 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.14723873138427734 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alanine_aminotransferase_level_45 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.21669340133666992 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_albumin_51 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.1842334270477295 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alkaline_phosphatase_50 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.19423866271972656 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_bilirubin_level_53 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.24642372131347656 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_calcium_39 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.14463329315185547 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_97 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.16662025451660156 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_HDL_ratio_94 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2431168556213379 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_creatinine_31 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2312180995941162 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_ferritin_63 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2134554386138916 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_folate_80 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.1988539695739746 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_free_T4_level_75 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.13559389114379883 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_gamma_glutamyl_transferase_level_57 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.10730195045471191 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.18186450004577637 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_potassium_26 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.18819665908813477 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_pro_brain_natriuretic_peptide_level_65 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0017447471618652344 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_sodium_24 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.24638676643371582 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_25_hydroxy_vitamin_D_level_87 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.008413076400756836 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_bilirubin_level_56 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.1747264862060547 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_cholesterol_level_98 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.11516690254211426 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_triglycerides_105 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.13759517669677734 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_urea_level_29 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2092134952545166 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_B12_79 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.16460514068603516 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D2_level_89 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0070743560791015625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D_86 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0018231868743896484 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Systolic_blood_pressure_4 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.3464782238006592 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH___thyroid_stim_hormone_72 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.10280394554138184 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH_level_74 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.006308794021606445 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_25_hydroxyvitamin_D_level_91 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.0019271373748779297 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_alkaline_phosphatase_48 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.020625829696655273 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_bilirubin_55 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.007837295532226562 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_cholesterol_HDL_ratio_95 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.11838507652282715 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_white_cell_count_18 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.2631807327270508 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_albumin_creatinine_ratio_35 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.09113883972167969 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_microalbumin_creatinine_ratio_36 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.006772041320800781 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33 WHERE PRACTICE_ID = '21508'
DEBUG:root:loaded 1 practices from table in 0.10001683235168457 seconds/practice
DEBUG:root:Dropping missing measurements
DEBUG:root:Removing patients with no observed events

collector took 12.978153228759766 seconds

DEBUG:root:Query: SELECT * FROM static_table WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.08043193817138672 seconds/practice
DEBUG:root:Query: SELECT * FROM diagnosis_table WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.02461528778076172 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D2_level_92 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006426811218261719 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D3_level_90 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006297588348388672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST___aspartate_transam_SGOT__46 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0017955303192138672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST_serum_level_47 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.05009651184082031 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Albumin___creatinine_ratio_37 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0062944889068603516 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Basophil_count_22 WHERE PRACTICE_ID = '21000'

collating events took 0.9415302276611328 seconds

DEBUG:root:loaded 1 practices from table in 0.20028376579284668 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_calcium_level_38 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0021271705627441406 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_urea_28 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.00229644775390625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Body_mass_index_3 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.2428276538848877 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Brain_natriuretic_peptide_level_66 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0022919178009033203 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calcium_adjusted_level_41 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006473541259765625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calculated_LDL_cholesterol_level_103 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.10559940338134766 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Combined_total_vitamin_D2_and_D3_level_93 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.010852336883544922 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Corrected_serum_calcium_level_42 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.11574769020080566 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Current_smoker_83 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.04781055450439453 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Diastolic_blood_pressure_5 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.2804431915283203 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Eosinophil_count_21 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.21706080436706543 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Erythrocyte_sedimentation_rate_61 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1200408935546875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Ex_smoker_84 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.12150716781616211 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Free_T4_level_76 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.07192087173461914 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_GFR_calculated_abbreviated_MDRD_34 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1860520839691162 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit___PCV_16 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.018510818481445312 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit_15 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.15085768699645996 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level___IFCC_standardised_6 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.16222524642944336 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level_8 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.06000375747680664 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_estimation_9 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.2764601707458496 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_HbA1c_level__DCCT_aligned__7 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1656811237335205 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_INR___international_normalised_ratio_81 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0019571781158447266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_International_normalised_ratio_82 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.176347017288208 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Lymphocyte_count_20 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.18897771835327148 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_Hb_conc__MCHC__14 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.2148149013519287 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_haemoglobin_MCH__13 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1870894432067871 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpuscular_volume__MCV__11 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.13805747032165527 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Monocyte_count_23 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.19060087203979492 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_N_terminal_pro_brain_natriuretic_peptide_level_67 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0018072128295898438 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Neutrophil_count_19 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.17354798316955566 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Never_smoked_tobacco_85 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.17067790031433105 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Non_HDL_cholesterol_level_108 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.009575128555297852 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___height_1 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.15516233444213867 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___weight_2 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.2071232795715332 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_B_natriuretic_peptide_level_69 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0017750263214111328 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_C_reactive_protein_60 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.08838772773742676 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_HDL_cholesterol_level_101 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.010309457778930664 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_LDL_cholesterol_level_104 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006691694259643555 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_N_terminal_pro_B_type_natriuretic_peptide_conc_70 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006066799163818359 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_TSH_level_73 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006993293762207031 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alanine_aminotransferase_level_44 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.00719451904296875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_albumin_level_52 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.010327339172363281 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alkaline_phosphatase_level_49 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0065364837646484375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_calcium_level_40 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.005873680114746094 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_cholesterol_HDL_ratio_96 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0064144134521484375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_corrected_calcium_level_43 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0017833709716796875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_creatinine_level_32 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.08291268348693848 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_ferritin_level_62 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006053924560546875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_free_T4_level_77 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.06688928604125977 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_gamma_glutamyl_transferase_level_58 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0064275264739990234 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_potassium_level_27 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.010552644729614258 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_pro_brain_natriuretic_peptide_level_64 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0018367767333984375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_sodium_level_25 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.010563850402832031 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_bilirubin_level_54 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.017853260040283203 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_cholesterol_level_99 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.007464170455932617 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_triglyceride_level_106 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.026805400848388672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_urea_level_30 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.010822057723999023 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Platelet_count_12 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.23239874839782715 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell__RBC__count_10 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.20968413352966309 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell_distribution_width_17 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.16806912422180176 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_25_Hydroxy_vitamin_D3_level_88 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.007055044174194336 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_C_reactive_protein_level_59 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.17702054977416992 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_HDL_cholesterol_level_100 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.19627618789672852 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_LDL_cholesterol_level_102 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1005549430847168 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006654500961303711 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_T4_level_78 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.006775856018066406 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_TSH_level_71 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.17639422416687012 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alanine_aminotransferase_level_45 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1673731803894043 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_albumin_51 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.23857998847961426 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alkaline_phosphatase_50 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.16185975074768066 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_bilirubin_level_53 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1451857089996338 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_calcium_39 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.17738795280456543 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_97 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.13871097564697266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_HDL_ratio_94 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.13369965553283691 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_creatinine_31 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.20584940910339355 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_ferritin_63 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.13266825675964355 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_folate_80 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.08725452423095703 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_free_T4_level_75 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.17748069763183594 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_gamma_glutamyl_transferase_level_57 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1224970817565918 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1373000144958496 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_potassium_26 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.285494327545166 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_pro_brain_natriuretic_peptide_level_65 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0018801689147949219 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_sodium_24 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.17506933212280273 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_25_hydroxy_vitamin_D_level_87 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.05792403221130371 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_bilirubin_level_56 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.16960930824279785 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_cholesterol_level_98 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.07459664344787598 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_triglycerides_105 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.16189312934875488 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_urea_level_29 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.18719935417175293 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_B12_79 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1594233512878418 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D2_level_89 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0017497539520263672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D_86 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.08577728271484375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Systolic_blood_pressure_4 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.26608920097351074 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH___thyroid_stim_hormone_72 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0065500736236572266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH_level_74 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0063936710357666016 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_25_hydroxyvitamin_D_level_91 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0018014907836914062 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_alkaline_phosphatase_48 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.024760723114013672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_bilirubin_55 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.09950661659240723 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_cholesterol_HDL_ratio_95 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.14974474906921387 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_white_cell_count_18 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.23677778244018555 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_albumin_creatinine_ratio_35 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.18706154823303223 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_microalbumin_creatinine_ratio_36 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.0017898082733154297 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33 WHERE PRACTICE_ID = '21000'
DEBUG:root:loaded 1 practices from table in 0.1427898406982422 seconds/practice
DEBUG:root:Dropping missing measurements
DEBUG:root:Removing patients with no observed events

collector took 10.78837251663208 seconds

DEBUG:root:Query: SELECT * FROM static_table WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.1922609806060791 seconds/practice
DEBUG:root:Query: SELECT * FROM diagnosis_table WHERE PRACTICE_ID = '21514'

collating events took 0.33164453506469727 seconds

DEBUG:root:loaded 1 practices from table in 0.23877859115600586 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D2_level_92 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.006879091262817383 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D3_level_90 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.012119293212890625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST___aspartate_transam_SGOT__46 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.10561871528625488 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST_serum_level_47 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.15514373779296875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Albumin___creatinine_ratio_37 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.007025718688964844 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Basophil_count_22 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.23958086967468262 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_calcium_level_38 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.010615348815917969 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_urea_28 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.003133535385131836 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Body_mass_index_3 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.25220417976379395 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Brain_natriuretic_peptide_level_66 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.006251811981201172 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calcium_adjusted_level_41 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.04421377182006836 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calculated_LDL_cholesterol_level_103 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08402514457702637 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Combined_total_vitamin_D2_and_D3_level_93 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.006438493728637695 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Corrected_serum_calcium_level_42 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.16369414329528809 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Current_smoker_83 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.16986894607543945 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Diastolic_blood_pressure_5 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.3674466609954834 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Eosinophil_count_21 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.25369882583618164 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Erythrocyte_sedimentation_rate_61 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.28774428367614746 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Ex_smoker_84 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.1498878002166748 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Free_T4_level_76 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.04407358169555664 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_GFR_calculated_abbreviated_MDRD_34 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.26393747329711914 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit___PCV_16 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.13726115226745605 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit_15 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.25716090202331543 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level___IFCC_standardised_6 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.20509767532348633 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level_8 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.1269969940185547 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_estimation_9 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.3424563407897949 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_HbA1c_level__DCCT_aligned__7 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2696495056152344 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_INR___international_normalised_ratio_81 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.009958505630493164 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_International_normalised_ratio_82 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.29138708114624023 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Lymphocyte_count_20 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2568671703338623 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_Hb_conc__MCHC__14 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.29370594024658203 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_haemoglobin_MCH__13 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.3578193187713623 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpuscular_volume__MCV__11 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.27655959129333496 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Monocyte_count_23 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2990591526031494 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_N_terminal_pro_brain_natriuretic_peptide_level_67 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.0019221305847167969 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Neutrophil_count_19 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.26755189895629883 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Never_smoked_tobacco_85 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2648587226867676 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Non_HDL_cholesterol_level_108 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08832716941833496 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___height_1 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2937784194946289 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___weight_2 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.22942209243774414 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_B_natriuretic_peptide_level_69 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.0018112659454345703 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_C_reactive_protein_60 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.10195088386535645 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_HDL_cholesterol_level_101 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.09463787078857422 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_LDL_cholesterol_level_104 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.11323142051696777 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_N_terminal_pro_B_type_natriuretic_peptide_conc_70 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.0022568702697753906 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_TSH_level_73 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.0025489330291748047 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alanine_aminotransferase_level_44 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08030986785888672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_albumin_level_52 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.143096923828125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alkaline_phosphatase_level_49 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.16797852516174316 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_calcium_level_40 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08164620399475098 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_cholesterol_HDL_ratio_96 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.006645679473876953 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_corrected_calcium_level_43 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.0026078224182128906 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_creatinine_level_32 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08864450454711914 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_ferritin_level_62 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.0019550323486328125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_free_T4_level_77 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.0021386146545410156 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_gamma_glutamyl_transferase_level_58 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.09131240844726562 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_potassium_level_27 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.09355306625366211 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_pro_brain_natriuretic_peptide_level_64 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.006647348403930664 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_sodium_level_25 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08794808387756348 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_bilirubin_level_54 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08366847038269043 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_cholesterol_level_99 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.07760739326477051 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_triglyceride_level_106 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.00698399543762207 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_urea_level_30 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.04080557823181152 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Platelet_count_12 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.25653839111328125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell__RBC__count_10 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.24502897262573242 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell_distribution_width_17 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.21343779563903809 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_25_Hydroxy_vitamin_D3_level_88 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08371162414550781 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_C_reactive_protein_level_59 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.21387028694152832 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_HDL_cholesterol_level_100 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.21078181266784668 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_LDL_cholesterol_level_102 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.20240092277526855 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.00606083869934082 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_T4_level_78 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.00414276123046875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_TSH_level_71 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.135359525680542 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alanine_aminotransferase_level_45 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.1566157341003418 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_albumin_51 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.25259852409362793 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alkaline_phosphatase_50 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.277665376663208 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_bilirubin_level_53 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.14786410331726074 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_calcium_39 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2439408302307129 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_97 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.20961809158325195 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_HDL_ratio_94 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2510986328125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_creatinine_31 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2759990692138672 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_ferritin_63 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2030937671661377 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_folate_80 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2181379795074463 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_free_T4_level_75 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.1365337371826172 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_gamma_glutamyl_transferase_level_57 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2152848243713379 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.12368249893188477 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_potassium_26 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.27143335342407227 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_pro_brain_natriuretic_peptide_level_65 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.006715297698974609 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_sodium_24 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.27417492866516113 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_25_hydroxy_vitamin_D_level_87 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.06236600875854492 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_bilirubin_level_56 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.26854896545410156 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_cholesterol_level_98 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.1452956199645996 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_triglycerides_105 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.26851367950439453 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_urea_level_29 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.27623939514160156 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_B12_79 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2315077781677246 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D2_level_89 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.006734371185302734 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D_86 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.08013224601745605 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Systolic_blood_pressure_4 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.37142276763916016 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH___thyroid_stim_hormone_72 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.11060428619384766 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH_level_74 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.008190155029296875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_25_hydroxyvitamin_D_level_91 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.0017440319061279297 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_alkaline_phosphatase_48 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.1106874942779541 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_bilirubin_55 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.07269024848937988 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_cholesterol_HDL_ratio_95 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.18308734893798828 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_white_cell_count_18 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2443861961364746 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_albumin_creatinine_ratio_35 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.2241818904876709 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_microalbumin_creatinine_ratio_36 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.006338834762573242 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33 WHERE PRACTICE_ID = '21514'
DEBUG:root:loaded 1 practices from table in 0.18911409378051758 seconds/practice
DEBUG:root:Dropping missing measurements
DEBUG:root:Removing patients with no observed events

collector took 16.444940328598022 seconds

DEBUG:root:Query: SELECT * FROM static_table WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.06447529792785645 seconds/practice
DEBUG:root:Query: SELECT * FROM diagnosis_table WHERE PRACTICE_ID = '21515'

collating events took 1.0621833801269531 seconds

DEBUG:root:loaded 1 practices from table in 0.20670533180236816 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D2_level_92 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.001932382583618164 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_25_Hydroxyvitamin_D3_level_90 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0018014907836914062 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST___aspartate_transam_SGOT__46 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.038562774658203125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_AST_serum_level_47 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08255815505981445 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Albumin___creatinine_ratio_37 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0017278194427490234 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Basophil_count_22 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08713030815124512 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_calcium_level_38 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.007366180419921875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Blood_urea_28 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.09354615211486816 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Body_mass_index_3 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11273336410522461 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Brain_natriuretic_peptide_level_66 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0017592906951904297 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calcium_adjusted_level_41 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.00750279426574707 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Calculated_LDL_cholesterol_level_103 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.07399392127990723 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Combined_total_vitamin_D2_and_D3_level_93 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.001749277114868164 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Corrected_serum_calcium_level_42 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08295655250549316 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Current_smoker_83 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.07894349098205566 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Diastolic_blood_pressure_5 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.16231822967529297 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Eosinophil_count_21 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12549090385437012 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Erythrocyte_sedimentation_rate_61 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.13275671005249023 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Ex_smoker_84 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10147714614868164 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Free_T4_level_76 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.03409743309020996 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_GFR_calculated_abbreviated_MDRD_34 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11406731605529785 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit___PCV_16 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.1197052001953125 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haematocrit_15 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.15816807746887207 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level___IFCC_standardised_6 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12147951126098633 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_A1c_level_8 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10104823112487793 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Haemoglobin_estimation_9 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.13573765754699707 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_HbA1c_level__DCCT_aligned__7 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.1025400161743164 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_INR___international_normalised_ratio_81 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.006269216537475586 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_International_normalised_ratio_82 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.13480520248413086 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Lymphocyte_count_20 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10320782661437988 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_Hb_conc__MCHC__14 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12450170516967773 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpusc_haemoglobin_MCH__13 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12062811851501465 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Mean_corpuscular_volume__MCV__11 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.14857006072998047 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Monocyte_count_23 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.14858198165893555 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_N_terminal_pro_brain_natriuretic_peptide_level_67 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.001800537109375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Neutrophil_count_19 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08940911293029785 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Never_smoked_tobacco_85 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12632250785827637 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Non_HDL_cholesterol_level_108 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.047350168228149414 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___height_1 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08162903785705566 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_O_E___weight_2 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.1288590431213379 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_B_natriuretic_peptide_level_69 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0016605854034423828 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_C_reactive_protein_60 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.07211589813232422 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_HDL_cholesterol_level_101 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08369779586791992 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_LDL_cholesterol_level_104 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.03908562660217285 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_N_terminal_pro_B_type_natriuretic_peptide_conc_70 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.001806020736694336 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_TSH_level_73 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0903465747833252 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alanine_aminotransferase_level_44 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10002994537353516 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_albumin_level_52 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08817195892333984 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_alkaline_phosphatase_level_49 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.07660531997680664 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_calcium_level_40 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.006120443344116211 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_cholesterol_HDL_ratio_96 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0016906261444091797 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_corrected_calcium_level_43 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08753442764282227 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_creatinine_level_32 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.07052159309387207 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_ferritin_level_62 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.006280660629272461 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_free_T4_level_77 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0016977787017822266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_gamma_glutamyl_transferase_level_58 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11913657188415527 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_potassium_level_27 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.06987929344177246 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_pro_brain_natriuretic_peptide_level_64 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.010161161422729492 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_sodium_level_25 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0945892333984375 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_bilirubin_level_54 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.06387734413146973 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_total_cholesterol_level_99 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.04026460647583008 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_triglyceride_level_106 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.006535530090332031 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Plasma_urea_level_30 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.07478117942810059 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Platelet_count_12 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.1196889877319336 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell__RBC__count_10 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10211420059204102 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Red_blood_cell_distribution_width_17 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10933589935302734 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_25_Hydroxy_vitamin_D3_level_88 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0065534114837646484 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_C_reactive_protein_level_59 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11868619918823242 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_HDL_cholesterol_level_100 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10095953941345215 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_LDL_cholesterol_level_102 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.1289386749267578 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0060465335845947266 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_T4_level_78 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0018208026885986328 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_TSH_level_71 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11152791976928711 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alanine_aminotransferase_level_45 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10795450210571289 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_albumin_51 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11408829689025879 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_alkaline_phosphatase_50 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11474347114562988 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_bilirubin_level_53 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10021209716796875 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_calcium_39 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12627124786376953 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_97 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12419986724853516 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_cholesterol_HDL_ratio_94 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08095049858093262 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_creatinine_31 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.130875825881958 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_ferritin_63 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0990760326385498 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_folate_80 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.1457064151763916 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_free_T4_level_75 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11449313163757324 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_gamma_glutamyl_transferase_level_57 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.14237070083618164 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12404465675354004 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_potassium_26 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.14856266975402832 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_pro_brain_natriuretic_peptide_level_65 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0018143653869628906 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_sodium_24 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.18848180770874023 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_25_hydroxy_vitamin_D_level_87 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.04188680648803711 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_bilirubin_level_56 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.16308379173278809 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_total_cholesterol_level_98 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.08025741577148438 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_triglycerides_105 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.09988927841186523 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_urea_level_29 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12218141555786133 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_B12_79 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.16422390937805176 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D2_level_89 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0017323493957519531 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Serum_vitamin_D_86 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.006391286849975586 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Systolic_blood_pressure_4 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.1966686248779297 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH___thyroid_stim_hormone_72 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.048657894134521484 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_TSH_level_74 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.001706838607788086 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_25_hydroxyvitamin_D_level_91 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.006506204605102539 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_alkaline_phosphatase_48 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.10138297080993652 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_bilirubin_55 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.03672981262207031 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_cholesterol_HDL_ratio_95 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.11889839172363281 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Total_white_cell_count_18 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.12627196311950684 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_albumin_creatinine_ratio_35 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.07872653007507324 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_Urine_microalbumin_creatinine_ratio_36 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.0062408447265625 seconds/practice
DEBUG:root:Query: SELECT * FROM measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33 WHERE PRACTICE_ID = '21515'
DEBUG:root:loaded 1 practices from table in 0.07482290267944336 seconds/practice
DEBUG:root:Dropping missing measurements
DEBUG:root:Removing patients with no observed events

collector took 9.00394058227539 seconds
collating events took 0.4264397621154785 seconds
{'lazy_static_table': <polars.LazyFrame object at 0x7F41C85A7040>, 'lazy_diagnosis_table': <polars.LazyFrame object at 0x7F413E9DC6A0>, 'lazy_measurement_25_Hydroxyvitamin_D2_level_92': <polars.LazyFrame object at 0x7F410F9CD690>, 'lazy_measurement_25_Hydroxyvitamin_D3_level_90': <polars.LazyFrame object at 0x7F41CFA10E80>, 'lazy_measurement_AST___aspartate_transam_SGOT__46': <polars.LazyFrame object at 0x7F410F9CCAF0>, 'lazy_measurement_AST_serum_level_47': <polars.LazyFrame object at 0x7F410F9CD8A0>, 'lazy_measurement_Albumin___creatinine_ratio_37': <polars.LazyFrame object at 0x7F410F9CD840>, 'lazy_measurement_Basophil_count_22': <polars.LazyFrame object at 0x7F410F9CE4D0>, 'lazy_measurement_Blood_calcium_level_38': <polars.LazyFrame object at 0x7F4121A9DCC0>, 'lazy_measurement_Blood_urea_28': <polars.LazyFrame object at 0x7F410F9CE1A0>, 'lazy_measurement_Body_mass_index_3': <polars.LazyFrame object at 0x7F410F9CD780>, 'lazy_measurement_Brain_natriuretic_peptide_level_66': <polars.LazyFrame object at 0x7F410F9CE2F0>, 'lazy_measurement_Calcium_adjusted_level_41': <polars.LazyFrame object at 0x7F410F9CDE70>, 'lazy_measurement_Calculated_LDL_cholesterol_level_103': <polars.LazyFrame object at 0x7F410F9CE1D0>, 'lazy_measurement_Combined_total_vitamin_D2_and_D3_level_93': <polars.LazyFrame object at 0x7F410F9CE260>, 'lazy_measurement_Corrected_serum_calcium_level_42': <polars.LazyFrame object at 0x7F410F9CE6E0>, 'lazy_measurement_Current_smoker_83': <polars.LazyFrame object at 0x7F410F9CE620>, 'lazy_measurement_Diastolic_blood_pressure_5': <polars.LazyFrame object at 0x7F410F9CE680>, 'lazy_measurement_Eosinophil_count_21': <polars.LazyFrame object at 0x7F410F9CD120>, 'lazy_measurement_Erythrocyte_sedimentation_rate_61': <polars.LazyFrame object at 0x7F410F9CD8D0>, 'lazy_measurement_Ex_smoker_84': <polars.LazyFrame object at 0x7F410F9CD2D0>, 'lazy_measurement_Free_T4_level_76': <polars.LazyFrame object at 0x7F410F9CE350>, 'lazy_measurement_GFR_calculated_abbreviated_MDRD_34': <polars.LazyFrame object at 0x7F410F9CC070>, 'lazy_measurement_Haematocrit___PCV_16': <polars.LazyFrame object at 0x7F410F9CD270>, 'lazy_measurement_Haematocrit_15': <polars.LazyFrame object at 0x7F410F9CE320>, 'lazy_measurement_Haemoglobin_A1c_level___IFCC_standardised_6': <polars.LazyFrame object at 0x7F410F9CDC00>, 'lazy_measurement_Haemoglobin_A1c_level_8': <polars.LazyFrame object at 0x7F410F9CDF00>, 'lazy_measurement_Haemoglobin_estimation_9': <polars.LazyFrame object at 0x7F410F9CC130>, 'lazy_measurement_HbA1c_level__DCCT_aligned__7': <polars.LazyFrame object at 0x7F410F9CE710>, 'lazy_measurement_INR___international_normalised_ratio_81': <polars.LazyFrame object at 0x7F410F9CE230>, 'lazy_measurement_International_normalised_ratio_82': <polars.LazyFrame object at 0x7F410F9CE050>, 'lazy_measurement_Lymphocyte_count_20': <polars.LazyFrame object at 0x7F410F9CD240>, 'lazy_measurement_Mean_corpusc_Hb_conc__MCHC__14': <polars.LazyFrame object at 0x7F410F9CDCF0>, 'lazy_measurement_Mean_corpusc_haemoglobin_MCH__13': <polars.LazyFrame object at 0x7F410F9CCA30>, 'lazy_measurement_Mean_corpuscular_volume__MCV__11': <polars.LazyFrame object at 0x7F410F9CD720>, 'lazy_measurement_Monocyte_count_23': <polars.LazyFrame object at 0x7F410F9CDF60>, 'lazy_measurement_N_terminal_pro_brain_natriuretic_peptide_level_67': <polars.LazyFrame object at 0x7F410F9CD900>, 'lazy_measurement_Neutrophil_count_19': <polars.LazyFrame object at 0x7F410F9CD870>, 'lazy_measurement_Never_smoked_tobacco_85': <polars.LazyFrame object at 0x7F410F9CE380>, 'lazy_measurement_Non_HDL_cholesterol_level_108': <polars.LazyFrame object at 0x7F410F9CDED0>, 'lazy_measurement_O_E___height_1': <polars.LazyFrame object at 0x7F410F9CCF40>, 'lazy_measurement_O_E___weight_2': <polars.LazyFrame object at 0x7F410F9CCD30>, 'lazy_measurement_Plasma_B_natriuretic_peptide_level_69': <polars.LazyFrame object at 0x7F410F9CD360>, 'lazy_measurement_Plasma_C_reactive_protein_60': <polars.LazyFrame object at 0x7F410F9CC7C0>, 'lazy_measurement_Plasma_HDL_cholesterol_level_101': <polars.LazyFrame object at 0x7F410F9CD990>, 'lazy_measurement_Plasma_LDL_cholesterol_level_104': <polars.LazyFrame object at 0x7F410F9CE410>, 'lazy_measurement_Plasma_TSH_level_73': <polars.LazyFrame object at 0x7F413ADCDDB0>, 'lazy_measurement_Plasma_alanine_aminotransferase_level_44': <polars.LazyFrame object at 0x7F410F9CE440>, 'lazy_measurement_Plasma_albumin_level_52': <polars.LazyFrame object at 0x7F410C610760>, 'lazy_measurement_Plasma_alkaline_phosphatase_level_49': <polars.LazyFrame object at 0x7F410C6106D0>, 'lazy_measurement_Plasma_calcium_level_40': <polars.LazyFrame object at 0x7F410F9CD390>, 'lazy_measurement_Plasma_cholesterol_HDL_ratio_96': <polars.LazyFrame object at 0x7F410F9CD300>, 'lazy_measurement_Plasma_corrected_calcium_level_43': <polars.LazyFrame object at 0x7F410C61E830>, 'lazy_measurement_Plasma_creatinine_level_32': <polars.LazyFrame object at 0x7F410F9CD090>, 'lazy_measurement_Plasma_ferritin_level_62': <polars.LazyFrame object at 0x7F410F9CD1E0>, 'lazy_measurement_Plasma_free_T4_level_77': <polars.LazyFrame object at 0x7F410F9CD810>, 'lazy_measurement_Plasma_gamma_glutamyl_transferase_level_58': <polars.LazyFrame object at 0x7F410F9CD1B0>, 'lazy_measurement_Plasma_potassium_level_27': <polars.LazyFrame object at 0x7F412034C4C0>, 'lazy_measurement_Plasma_pro_brain_natriuretic_peptide_level_64': <polars.LazyFrame object at 0x7F412034C250>, 'lazy_measurement_Plasma_sodium_level_25': <polars.LazyFrame object at 0x7F412034C0D0>, 'lazy_measurement_Plasma_total_bilirubin_level_54': <polars.LazyFrame object at 0x7F412034C340>, 'lazy_measurement_Plasma_total_cholesterol_level_99': <polars.LazyFrame object at 0x7F412034C280>, 'lazy_measurement_Plasma_triglyceride_level_106': <polars.LazyFrame object at 0x7F412034C430>, 'lazy_measurement_Plasma_urea_level_30': <polars.LazyFrame object at 0x7F412034CCA0>, 'lazy_measurement_Platelet_count_12': <polars.LazyFrame object at 0x7F412034C1F0>, 'lazy_measurement_Red_blood_cell__RBC__count_10': <polars.LazyFrame object at 0x7F412034C160>, 'lazy_measurement_Red_blood_cell_distribution_width_17': <polars.LazyFrame object at 0x7F412034C070>, 'lazy_measurement_Serum_25_Hydroxy_vitamin_D3_level_88': <polars.LazyFrame object at 0x7F412034CDC0>, 'lazy_measurement_Serum_C_reactive_protein_level_59': <polars.LazyFrame object at 0x7F412034CE20>, 'lazy_measurement_Serum_HDL_cholesterol_level_100': <polars.LazyFrame object at 0x7F412034D150>, 'lazy_measurement_Serum_LDL_cholesterol_level_102': <polars.LazyFrame object at 0x7F412034C370>, 'lazy_measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68': <polars.LazyFrame object at 0x7F412034C0A0>, 'lazy_measurement_Serum_T4_level_78': <polars.LazyFrame object at 0x7F412034C220>, 'lazy_measurement_Serum_TSH_level_71': <polars.LazyFrame object at 0x7F412034C6D0>, 'lazy_measurement_Serum_alanine_aminotransferase_level_45': <polars.LazyFrame object at 0x7F412034C040>, 'lazy_measurement_Serum_albumin_51': <polars.LazyFrame object at 0x7F412034D090>, 'lazy_measurement_Serum_alkaline_phosphatase_50': <polars.LazyFrame object at 0x7F412034C790>, 'lazy_measurement_Serum_bilirubin_level_53': <polars.LazyFrame object at 0x7F412034D1B0>, 'lazy_measurement_Serum_calcium_39': <polars.LazyFrame object at 0x7F412034C580>, 'lazy_measurement_Serum_cholesterol_97': <polars.LazyFrame object at 0x7F412034CF40>, 'lazy_measurement_Serum_cholesterol_HDL_ratio_94': <polars.LazyFrame object at 0x7F412034CA90>, 'lazy_measurement_Serum_creatinine_31': <polars.LazyFrame object at 0x7F412034D0C0>, 'lazy_measurement_Serum_ferritin_63': <polars.LazyFrame object at 0x7F412034C310>, 'lazy_measurement_Serum_folate_80': <polars.LazyFrame object at 0x7F412034C670>, 'lazy_measurement_Serum_free_T4_level_75': <polars.LazyFrame object at 0x7F412034C6A0>, 'lazy_measurement_Serum_gamma_glutamyl_transferase_level_57': <polars.LazyFrame object at 0x7F412034CCD0>, 'lazy_measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107': <polars.LazyFrame object at 0x7F412034C7F0>, 'lazy_measurement_Serum_potassium_26': <polars.LazyFrame object at 0x7F412034C910>, 'lazy_measurement_Serum_pro_brain_natriuretic_peptide_level_65': <polars.LazyFrame object at 0x7F412034C130>, 'lazy_measurement_Serum_sodium_24': <polars.LazyFrame object at 0x7F412034CC40>, 'lazy_measurement_Serum_total_25_hydroxy_vitamin_D_level_87': <polars.LazyFrame object at 0x7F412034D0F0>, 'lazy_measurement_Serum_total_bilirubin_level_56': <polars.LazyFrame object at 0x7F412034CD90>, 'lazy_measurement_Serum_total_cholesterol_level_98': <polars.LazyFrame object at 0x7F412034C4F0>, 'lazy_measurement_Serum_triglycerides_105': <polars.LazyFrame object at 0x7F412034C700>, 'lazy_measurement_Serum_urea_level_29': <polars.LazyFrame object at 0x7F412034CAC0>, 'lazy_measurement_Serum_vitamin_B12_79': <polars.LazyFrame object at 0x7F412034CEB0>, 'lazy_measurement_Serum_vitamin_D2_level_89': <polars.LazyFrame object at 0x7F412034C9D0>, 'lazy_measurement_Serum_vitamin_D_86': <polars.LazyFrame object at 0x7F412034C820>, 'lazy_measurement_Systolic_blood_pressure_4': <polars.LazyFrame object at 0x7F412034CE50>, 'lazy_measurement_TSH___thyroid_stim_hormone_72': <polars.LazyFrame object at 0x7F4120270FD0>, 'lazy_measurement_TSH_level_74': <polars.LazyFrame object at 0x7F412034C940>, 'lazy_measurement_Total_25_hydroxyvitamin_D_level_91': <polars.LazyFrame object at 0x7F4120271000>, 'lazy_measurement_Total_alkaline_phosphatase_48': <polars.LazyFrame object at 0x7F412034CD60>, 'lazy_measurement_Total_bilirubin_55': <polars.LazyFrame object at 0x7F4120272440>, 'lazy_measurement_Total_cholesterol_HDL_ratio_95': <polars.LazyFrame object at 0x7F41215995D0>, 'lazy_measurement_Total_white_cell_count_18': <polars.LazyFrame object at 0x7F4121599D20>, 'lazy_measurement_Urine_albumin_creatinine_ratio_35': <polars.LazyFrame object at 0x7F412159B550>, 'lazy_measurement_Urine_microalbumin_creatinine_ratio_36': <polars.LazyFrame object at 0x7F412159B6D0>, 'lazy_measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33': <polars.LazyFrame object at 0x7F412159ADA0>}
lazy_static_table

shape: (5, 10)
┌───────────┬──────────┬────────────┬────────────┬───┬───────────┬──────────┬──────────┬───────────┐
│ PRACTICE_ ┆ PATIENT_ ┆ ETHNICITY  ┆ YEAR_OF_BI ┆ … ┆ HEALTH_AU ┆ INDEX_DA ┆ START_DA ┆ END_DATE  │
│ ID        ┆ ID       ┆ ---        ┆ RTH        ┆   ┆ TH        ┆ TE       ┆ TE       ┆ ---       │
│ ---       ┆ ---      ┆ str        ┆ ---        ┆   ┆ ---       ┆ ---      ┆ ---      ┆ str       │
│ i64       ┆ i64      ┆            ┆ str        ┆   ┆ str       ┆ str      ┆ str      ┆           │
╞═══════════╪══════════╪════════════╪════════════╪═══╪═══════════╪══════════╪══════════╪═══════════╡
│ 21515     ┆ 59541836 ┆ WHITE      ┆ 2018-06-15 ┆ … ┆ North     ┆ 2019-06- ┆ 2019-06- ┆ 2022-03-1 │
│           ┆ 21515    ┆            ┆            ┆   ┆ West      ┆ 18       ┆ 18       ┆ 9         │
│ 21515     ┆ 59541843 ┆ WHITE      ┆ 1990-07-15 ┆ … ┆ North     ┆ 2005-05- ┆ 2005-05- ┆ 2022-03-1 │
│           ┆ 21515    ┆            ┆            ┆   ┆ West      ┆ 14       ┆ 14       ┆ 9         │
│ 21515     ┆ 59541847 ┆ WHITE      ┆ 2011-02-15 ┆ … ┆ North     ┆ 2012-03- ┆ 2012-03- ┆ 2013-11-1 │
│           ┆ 21515    ┆            ┆            ┆   ┆ West      ┆ 22       ┆ 22       ┆ 6         │
│ 21515     ┆ 59541852 ┆ MISSING    ┆ 2003-07-15 ┆ … ┆ North     ┆ 2005-01- ┆ 2005-01- ┆ 2022-03-1 │
│           ┆ 21515    ┆            ┆            ┆   ┆ West      ┆ 01       ┆ 01       ┆ 9         │
│ 21515     ┆ 59541854 ┆ MISSING    ┆ 2001-07-15 ┆ … ┆ North     ┆ 2005-02- ┆ 2005-02- ┆ 2022-03-1 │
│           ┆ 21515    ┆            ┆            ┆   ┆ West      ┆ 25       ┆ 25       ┆ 9         │
└───────────┴──────────┴────────────┴────────────┴───┴───────────┴──────────┴──────────┴───────────┘

lazy_diagnosis_table

shape: (5, 4)
┌─────────────┬───────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT ┆ DATE       │
│ ---         ┆ ---           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str   ┆ str        │
╞═════════════╪═══════════════╪═══════╪════════════╡
│ 21515       ┆ 5954578221515 ┆ AF    ┆ 1999-12-03 │
│ 21515       ┆ 5954766021515 ┆ AF    ┆ 2008-05-21 │
│ 21515       ┆ 5954422621515 ┆ AF    ┆ 2017-04-24 │
│ 21515       ┆ 5954257921515 ┆ AF    ┆ 2001-08-17 │
│ 21515       ┆ 5955535121515 ┆ AF    ┆ 2004-01-27 │
└─────────────┴───────────────┴───────┴────────────┘

lazy_measurement_25_Hydroxyvitamin_D2_level_92

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954189621515 ┆ 25_Hydroxyvitamin_D2_level_92 ┆ 1.0   ┆ 2013-01-30 │
│ 21515       ┆ 5954189621515 ┆ 25_Hydroxyvitamin_D2_level_92 ┆ 1.0   ┆ 2013-07-29 │
│ 21515       ┆ 5954189621515 ┆ 25_Hydroxyvitamin_D2_level_92 ┆ 1.0   ┆ 2014-02-18 │
│ 21515       ┆ 5954189621515 ┆ 25_Hydroxyvitamin_D2_level_92 ┆ 1.0   ┆ 2016-04-26 │
│ 21515       ┆ 5954591021515 ┆ 25_Hydroxyvitamin_D2_level_92 ┆ 5.0   ┆ 2017-03-25 │
└─────────────┴───────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_25_Hydroxyvitamin_D3_level_90

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954189621515 ┆ 25_Hydroxyvitamin_D3_level_90 ┆ 21.0  ┆ 2013-01-30 │
│ 21515       ┆ 5954189621515 ┆ 25_Hydroxyvitamin_D3_level_90 ┆ 37.0  ┆ 2013-07-29 │
│ 21515       ┆ 5954189621515 ┆ 25_Hydroxyvitamin_D3_level_90 ┆ 53.0  ┆ 2014-02-18 │
│ 21515       ┆ 5954189621515 ┆ 25_Hydroxyvitamin_D3_level_90 ┆ 30.0  ┆ 2016-04-26 │
│ 21515       ┆ 5954591021515 ┆ 25_Hydroxyvitamin_D3_level_90 ┆ 37.5  ┆ 2017-03-25 │
└─────────────┴───────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_AST___aspartate_transam_SGOT__46

shape: (5, 5)
┌─────────────┬───────────────┬──────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                              ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                              ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954216921515 ┆ AST___aspartate_transam_SGOT__46 ┆ 24.0  ┆ 2000-06-22 │
│ 21515       ┆ 5954414621515 ┆ AST___aspartate_transam_SGOT__46 ┆ 30.0  ┆ 2000-10-25 │
│ 21515       ┆ 5954421221515 ┆ AST___aspartate_transam_SGOT__46 ┆ 21.0  ┆ 2000-12-09 │
│ 21515       ┆ 5954473521515 ┆ AST___aspartate_transam_SGOT__46 ┆ 24.0  ┆ 2007-05-02 │
│ 21515       ┆ 5954479521515 ┆ AST___aspartate_transam_SGOT__46 ┆ 22.0  ┆ 2001-06-11 │
└─────────────┴───────────────┴──────────────────────────────────┴───────┴────────────┘

lazy_measurement_AST_serum_level_47

shape: (5, 5)
┌─────────────┬───────────────┬────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT              ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954208721515 ┆ AST_serum_level_47 ┆ 19.0  ┆ 2014-04-22 │
│ 21515       ┆ 5954208721515 ┆ AST_serum_level_47 ┆ 19.0  ┆ 2016-04-01 │
│ 21515       ┆ 5954208721515 ┆ AST_serum_level_47 ┆ 14.0  ┆ 2016-11-02 │
│ 21515       ┆ 5954208721515 ┆ AST_serum_level_47 ┆ 14.0  ┆ 2018-03-16 │
│ 21515       ┆ 5954271021515 ┆ AST_serum_level_47 ┆ 47.0  ┆ 2013-03-25 │
└─────────────┴───────────────┴────────────────────┴───────┴────────────┘

lazy_measurement_Albumin___creatinine_ratio_37

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954295621515 ┆ Albumin___creatinine_ratio_37 ┆ null  ┆ 2006-12-05 │
│ 21515       ┆ 5954734521515 ┆ Albumin___creatinine_ratio_37 ┆ null  ┆ 2016-05-10 │
│ 21515       ┆ 5955855621515 ┆ Albumin___creatinine_ratio_37 ┆ 4.19  ┆ 2013-01-09 │
│ 21515       ┆ 5955958221515 ┆ Albumin___creatinine_ratio_37 ┆ null  ┆ 2008-06-20 │
│ 21515       ┆ 5956074521515 ┆ Albumin___creatinine_ratio_37 ┆ null  ┆ 2006-07-07 │
└─────────────┴───────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_Basophil_count_22

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Basophil_count_22 ┆ 0.0   ┆ 2022-01-13 │
│ 21515       ┆ 5954187021515  ┆ Basophil_count_22 ┆ 0.0   ┆ 2021-11-26 │
│ 21515       ┆ 5954187421515  ┆ Basophil_count_22 ┆ 0.1   ┆ 2022-01-28 │
│ 21515       ┆ 5954188521515  ┆ Basophil_count_22 ┆ 0.0   ┆ 2001-12-17 │
│ 21515       ┆ 5954189221515  ┆ Basophil_count_22 ┆ 0.0   ┆ 2001-01-18 │
└─────────────┴────────────────┴───────────────────┴───────┴────────────┘

lazy_measurement_Blood_calcium_level_38

shape: (2, 5)
┌─────────────┬───────────────┬────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                  ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                    ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                    ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 6503695621515 ┆ Blood_calcium_level_38 ┆ 2.6   ┆ 2014-02-04 │
│ 21515       ┆ 6503695621515 ┆ Blood_calcium_level_38 ┆ 2.46  ┆ 2014-02-18 │
└─────────────┴───────────────┴────────────────────────┴───────┴────────────┘

lazy_measurement_Blood_urea_28

shape: (3, 5)
┌─────────────┬───────────────┬───────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str           ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════╪═══════╪════════════╡
│ 21515       ┆ 5955213721515 ┆ Blood_urea_28 ┆ 7.6   ┆ 2014-10-10 │
│ 21515       ┆ 5955413721515 ┆ Blood_urea_28 ┆ null  ┆ 2006-11-16 │
│ 21515       ┆ 5957673321515 ┆ Blood_urea_28 ┆ 6.3   ┆ 2002-01-31 │
└─────────────┴───────────────┴───────────────┴───────┴────────────┘

lazy_measurement_Body_mass_index_3

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Body_mass_index_3 ┆ 28.28 ┆ 2021-03-25 │
│ 21515       ┆ 10995640321515 ┆ Body_mass_index_3 ┆ 28.3  ┆ 2021-03-25 │
│ 21515       ┆ 10995640321515 ┆ Body_mass_index_3 ┆ 31.46 ┆ 2021-08-10 │
│ 21515       ┆ 10996238021515 ┆ Body_mass_index_3 ┆ 31.9  ┆ 2021-03-25 │
│ 21515       ┆ 10996238021515 ┆ Body_mass_index_3 ┆ 31.93 ┆ 2021-03-25 │
└─────────────┴────────────────┴───────────────────┴───────┴────────────┘

lazy_measurement_Brain_natriuretic_peptide_level_66

shape: (2, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5955957121515 ┆ Brain_natriuretic_peptide_level_… ┆ 13.0  ┆ 2012-09-07 │
│ 21515       ┆ 6909473421515 ┆ Brain_natriuretic_peptide_level_… ┆ null  ┆ 2019-08-19 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Calcium_adjusted_level_41

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                     ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                       ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                       ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954980921515 ┆ Calcium_adjusted_level_41 ┆ 2.24  ┆ 2016-08-16 │
│ 21515       ┆ 5955169521515 ┆ Calcium_adjusted_level_41 ┆ 2.27  ┆ 2018-02-01 │
│ 21515       ┆ 5955277221515 ┆ Calcium_adjusted_level_41 ┆ 2.76  ┆ 2018-09-10 │
│ 21515       ┆ 5955442021515 ┆ Calcium_adjusted_level_41 ┆ 2.48  ┆ 2021-06-14 │
│ 21515       ┆ 5955899121515 ┆ Calcium_adjusted_level_41 ┆ 2.25  ┆ 2016-10-12 │
└─────────────┴───────────────┴───────────────────────────┴───────┴────────────┘

lazy_measurement_Calculated_LDL_cholesterol_level_103

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954236621515 ┆ Calculated_LDL_cholesterol_level… ┆ 2.7   ┆ 2015-05-07 │
│ 21515       ┆ 5954308321515 ┆ Calculated_LDL_cholesterol_level… ┆ 5.9   ┆ 2022-02-18 │
│ 21515       ┆ 5954414421515 ┆ Calculated_LDL_cholesterol_level… ┆ 2.7   ┆ 2021-11-23 │
│ 21515       ┆ 5954467821515 ┆ Calculated_LDL_cholesterol_level… ┆ 2.9   ┆ 2022-02-21 │
│ 21515       ┆ 5954476621515 ┆ Calculated_LDL_cholesterol_level… ┆ 2.7   ┆ 2021-10-04 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Combined_total_vitamin_D2_and_D3_level_93

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954224721515 ┆ Combined_total_vitamin_D2_and_D3… ┆ null  ┆ 2013-04-22 │
│ 21515       ┆ 5954314621515 ┆ Combined_total_vitamin_D2_and_D3… ┆ null  ┆ 2013-06-06 │
│ 21515       ┆ 5954455321515 ┆ Combined_total_vitamin_D2_and_D3… ┆ null  ┆ 2014-04-17 │
│ 21515       ┆ 5954479521515 ┆ Combined_total_vitamin_D2_and_D3… ┆ null  ┆ 2013-08-29 │
│ 21515       ┆ 5954596321515 ┆ Combined_total_vitamin_D2_and_D3… ┆ 23.0  ┆ 2017-07-26 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Corrected_serum_calcium_level_42

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                              ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                              ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Corrected_serum_calcium_level_42 ┆ 2.23  ┆ 2006-08-25 │
│ 21515       ┆ 5954187021515  ┆ Corrected_serum_calcium_level_42 ┆ 2.28  ┆ 2013-10-09 │
│ 21515       ┆ 5954188221515  ┆ Corrected_serum_calcium_level_42 ┆ 2.44  ┆ 2013-07-18 │
│ 21515       ┆ 5954188221515  ┆ Corrected_serum_calcium_level_42 ┆ 2.48  ┆ 2014-06-12 │
│ 21515       ┆ 5954189621515  ┆ Corrected_serum_calcium_level_42 ┆ 2.21  ┆ 2004-07-19 │
└─────────────┴────────────────┴──────────────────────────────────┴───────┴────────────┘

lazy_measurement_Current_smoker_83

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954188021515 ┆ Current_smoker_83 ┆ 20.0  ┆ 2003-06-24 │
│ 21515       ┆ 5954189221515 ┆ Current_smoker_83 ┆ 7.0   ┆ 2006-12-14 │
│ 21515       ┆ 5954190521515 ┆ Current_smoker_83 ┆ 10.0  ┆ 2012-01-27 │
│ 21515       ┆ 5954193221515 ┆ Current_smoker_83 ┆ 10.0  ┆ 2007-06-29 │
│ 21515       ┆ 5954193221515 ┆ Current_smoker_83 ┆ 10.0  ┆ 2011-02-04 │
└─────────────┴───────────────┴───────────────────┴───────┴────────────┘

lazy_measurement_Diastolic_blood_pressure_5

shape: (5, 5)
┌─────────────┬────────────────┬────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                      ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                        ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                        ┆ f64   ┆ str        │
╞═════════════╪════════════════╪════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Diastolic_blood_pressure_5 ┆ 77.0  ┆ 2022-01-13 │
│ 21515       ┆ 10996237721515 ┆ Diastolic_blood_pressure_5 ┆ 75.0  ┆ 2021-09-10 │
│ 21515       ┆ 10996238121515 ┆ Diastolic_blood_pressure_5 ┆ 80.0  ┆ 2001-09-18 │
│ 21515       ┆ 10996238121515 ┆ Diastolic_blood_pressure_5 ┆ 90.0  ┆ 2011-07-13 │
│ 21515       ┆ 10996238121515 ┆ Diastolic_blood_pressure_5 ┆ 68.0  ┆ 2015-01-12 │
└─────────────┴────────────────┴────────────────────────────┴───────┴────────────┘

lazy_measurement_Eosinophil_count_21

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT               ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                 ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                 ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Eosinophil_count_21 ┆ 0.1   ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Eosinophil_count_21 ┆ 0.1   ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Eosinophil_count_21 ┆ 0.5   ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Eosinophil_count_21 ┆ 0.2   ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Eosinophil_count_21 ┆ 0.2   ┆ 2015-01-14 │
└─────────────┴────────────────┴─────────────────────┴───────┴────────────┘

lazy_measurement_Erythrocyte_sedimentation_rate_61

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Erythrocyte_sedimentation_rate_6… ┆ 18.0  ┆ 2016-07-22 │
│ 21515       ┆ 10996238121515 ┆ Erythrocyte_sedimentation_rate_6… ┆ 16.0  ┆ 2018-08-03 │
│ 21515       ┆ 5954184321515  ┆ Erythrocyte_sedimentation_rate_6… ┆ 5.0   ┆ 2005-02-04 │
│ 21515       ┆ 5954184321515  ┆ Erythrocyte_sedimentation_rate_6… ┆ 4.0   ┆ 2009-09-16 │
│ 21515       ┆ 5954184321515  ┆ Erythrocyte_sedimentation_rate_6… ┆ 8.0   ┆ 2013-04-25 │
└─────────────┴────────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Ex_smoker_84

shape: (5, 5)
┌─────────────┬────────────────┬──────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT        ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---          ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str          ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238321515 ┆ Ex_smoker_84 ┆ null  ┆ 2012-08-03 │
│ 21515       ┆ 10996238321515 ┆ Ex_smoker_84 ┆ null  ┆ 2021-03-29 │
│ 21515       ┆ 5954187021515  ┆ Ex_smoker_84 ┆ null  ┆ 2001-05-11 │
│ 21515       ┆ 5954187021515  ┆ Ex_smoker_84 ┆ null  ┆ 2008-10-01 │
│ 21515       ┆ 5954189921515  ┆ Ex_smoker_84 ┆ null  ┆ 2009-01-23 │
└─────────────┴────────────────┴──────────────┴───────┴────────────┘

lazy_measurement_Free_T4_level_76

shape: (5, 5)
┌─────────────┬───────────────┬──────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---              ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str              ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954196321515 ┆ Free_T4_level_76 ┆ 11.6  ┆ 1999-09-27 │
│ 21515       ┆ 5954196521515 ┆ Free_T4_level_76 ┆ 34.2  ┆ 2001-11-21 │
│ 21515       ┆ 5954196521515 ┆ Free_T4_level_76 ┆ 22.5  ┆ 2005-09-12 │
│ 21515       ┆ 5954198421515 ┆ Free_T4_level_76 ┆ 12.9  ┆ 1999-11-02 │
│ 21515       ┆ 5954205021515 ┆ Free_T4_level_76 ┆ 17.2  ┆ 1999-10-15 │
└─────────────┴───────────────┴──────────────────┴───────┴────────────┘

lazy_measurement_GFR_calculated_abbreviated_MDRD_34

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ GFR_calculated_abbreviated_MDRD_… ┆ 71.1  ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ GFR_calculated_abbreviated_MDRD_… ┆ 75.5  ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ GFR_calculated_abbreviated_MDRD_… ┆ 67.5  ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ GFR_calculated_abbreviated_MDRD_… ┆ 81.8  ┆ 2015-11-03 │
│ 21515       ┆ 10996238121515 ┆ GFR_calculated_abbreviated_MDRD_… ┆ 76.0  ┆ 2016-07-22 │
└─────────────┴────────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Haematocrit___PCV_16

shape: (5, 5)
┌─────────────┬───────────────┬──────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                  ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                  ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954188521515 ┆ Haematocrit___PCV_16 ┆ 0.35  ┆ 2001-12-17 │
│ 21515       ┆ 5954189221515 ┆ Haematocrit___PCV_16 ┆ 0.39  ┆ 2001-01-18 │
│ 21515       ┆ 5954189221515 ┆ Haematocrit___PCV_16 ┆ 0.39  ┆ 2001-02-03 │
│ 21515       ┆ 5954198421515 ┆ Haematocrit___PCV_16 ┆ 0.46  ┆ 1999-11-01 │
│ 21515       ┆ 5954205021515 ┆ Haematocrit___PCV_16 ┆ 0.47  ┆ 1999-10-15 │
└─────────────┴───────────────┴──────────────────────┴───────┴────────────┘

lazy_measurement_Haematocrit_15

shape: (5, 5)
┌─────────────┬────────────────┬────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT          ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---            ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str            ┆ f64   ┆ str        │
╞═════════════╪════════════════╪════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Haematocrit_15 ┆ 0.34  ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Haematocrit_15 ┆ 0.47  ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Haematocrit_15 ┆ 0.49  ┆ 2015-11-03 │
│ 21515       ┆ 10996238121515 ┆ Haematocrit_15 ┆ 0.44  ┆ 2016-07-22 │
│ 21515       ┆ 10996238121515 ┆ Haematocrit_15 ┆ 0.47  ┆ 2018-08-03 │
└─────────────┴────────────────┴────────────────┴───────┴────────────┘

lazy_measurement_Haemoglobin_A1c_level___IFCC_standardised_6

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954184321515 ┆ Haemoglobin_A1c_level___IFCC_sta… ┆ 34.0  ┆ 2013-04-25 │
│ 21515       ┆ 5954184321515 ┆ Haemoglobin_A1c_level___IFCC_sta… ┆ 32.0  ┆ 2021-10-19 │
│ 21515       ┆ 5954184321515 ┆ Haemoglobin_A1c_level___IFCC_sta… ┆ null  ┆ 2021-10-19 │
│ 21515       ┆ 5954187021515 ┆ Haemoglobin_A1c_level___IFCC_sta… ┆ 38.0  ┆ 2013-10-09 │
│ 21515       ┆ 5954187521515 ┆ Haemoglobin_A1c_level___IFCC_sta… ┆ 56.0  ┆ 2011-07-15 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Haemoglobin_A1c_level_8

shape: (5, 5)
┌─────────────┬───────────────┬─────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                   ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                     ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                     ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954188221515 ┆ Haemoglobin_A1c_level_8 ┆ null  ┆ 2013-07-18 │
│ 21515       ┆ 5954188221515 ┆ Haemoglobin_A1c_level_8 ┆ null  ┆ 2014-06-12 │
│ 21515       ┆ 5954189921515 ┆ Haemoglobin_A1c_level_8 ┆ 7.1   ┆ 2009-04-15 │
│ 21515       ┆ 5954189921515 ┆ Haemoglobin_A1c_level_8 ┆ null  ┆ 2009-08-17 │
│ 21515       ┆ 5954189921515 ┆ Haemoglobin_A1c_level_8 ┆ null  ┆ 2010-04-12 │
└─────────────┴───────────────┴─────────────────────────┴───────┴────────────┘

lazy_measurement_Haemoglobin_estimation_9

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                    ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                      ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                      ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Haemoglobin_estimation_9 ┆ 116.0 ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Haemoglobin_estimation_9 ┆ 16.2  ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Haemoglobin_estimation_9 ┆ 152.0 ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Haemoglobin_estimation_9 ┆ 156.0 ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Haemoglobin_estimation_9 ┆ 153.0 ┆ 2015-01-14 │
└─────────────┴────────────────┴──────────────────────────┴───────┴────────────┘

lazy_measurement_HbA1c_level__DCCT_aligned__7

shape: (5, 5)
┌─────────────┬───────────────┬──────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                        ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                          ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                          ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954187521515 ┆ HbA1c_level__DCCT_aligned__7 ┆ 7.3   ┆ 2011-07-15 │
│ 21515       ┆ 5954189921515 ┆ HbA1c_level__DCCT_aligned__7 ┆ 6.6   ┆ 2009-08-17 │
│ 21515       ┆ 5954189921515 ┆ HbA1c_level__DCCT_aligned__7 ┆ 6.5   ┆ 2010-04-12 │
│ 21515       ┆ 5954189921515 ┆ HbA1c_level__DCCT_aligned__7 ┆ 6.5   ┆ 2010-10-01 │
│ 21515       ┆ 5954189921515 ┆ HbA1c_level__DCCT_aligned__7 ┆ 6.8   ┆ 2011-11-23 │
└─────────────┴───────────────┴──────────────────────────────┴───────┴────────────┘

lazy_measurement_INR___international_normalised_ratio_81

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5955357521515 ┆ INR___international_normalised_r… ┆ 5.1   ┆ 2021-07-29 │
│ 21515       ┆ 5955620221515 ┆ INR___international_normalised_r… ┆ 10.3  ┆ 2020-01-02 │
│ 21515       ┆ 5956659021515 ┆ INR___international_normalised_r… ┆ 6.0   ┆ 2022-01-10 │
│ 21515       ┆ 5956659021515 ┆ INR___international_normalised_r… ┆ 6.4   ┆ 2022-01-17 │
│ 21515       ┆ 5957325321515 ┆ INR___international_normalised_r… ┆ 9.2   ┆ 2021-12-30 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_International_normalised_ratio_82

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954193221515 ┆ International_normalised_ratio_8… ┆ 1.8   ┆ 2016-07-19 │
│ 21515       ┆ 5954193221515 ┆ International_normalised_ratio_8… ┆ 2.8   ┆ 2016-07-25 │
│ 21515       ┆ 5954193221515 ┆ International_normalised_ratio_8… ┆ 4.0   ┆ 2016-08-08 │
│ 21515       ┆ 5954193221515 ┆ International_normalised_ratio_8… ┆ 3.0   ┆ 2016-08-15 │
│ 21515       ┆ 5954193221515 ┆ International_normalised_ratio_8… ┆ 2.9   ┆ 2016-08-24 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Lymphocyte_count_20

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT               ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                 ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                 ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Lymphocyte_count_20 ┆ 2.9   ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Lymphocyte_count_20 ┆ 2.4   ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Lymphocyte_count_20 ┆ 2.2   ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Lymphocyte_count_20 ┆ 2.0   ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Lymphocyte_count_20 ┆ 2.2   ┆ 2015-01-14 │
└─────────────┴────────────────┴─────────────────────┴───────┴────────────┘

lazy_measurement_Mean_corpusc_Hb_conc__MCHC__14

shape: (5, 5)
┌─────────────┬────────────────┬────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                          ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                            ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                            ┆ f64   ┆ str        │
╞═════════════╪════════════════╪════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Mean_corpusc_Hb_conc__MCHC__14 ┆ 344.0 ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpusc_Hb_conc__MCHC__14 ┆ 34.0  ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpusc_Hb_conc__MCHC__14 ┆ 321.0 ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpusc_Hb_conc__MCHC__14 ┆ 316.0 ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpusc_Hb_conc__MCHC__14 ┆ 330.0 ┆ 2015-01-14 │
└─────────────┴────────────────┴────────────────────────────────┴───────┴────────────┘

lazy_measurement_Mean_corpusc_haemoglobin_MCH__13

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                              ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                              ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Mean_corpusc_haemoglobin_MCH__13 ┆ 29.8  ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpusc_haemoglobin_MCH__13 ┆ 25.9  ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpusc_haemoglobin_MCH__13 ┆ 25.0  ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpusc_haemoglobin_MCH__13 ┆ 24.7  ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpusc_haemoglobin_MCH__13 ┆ 25.5  ┆ 2015-01-14 │
└─────────────┴────────────────┴──────────────────────────────────┴───────┴────────────┘

lazy_measurement_Mean_corpuscular_volume__MCV__11

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                              ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                              ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Mean_corpuscular_volume__MCV__11 ┆ 87.0  ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpuscular_volume__MCV__11 ┆ 76.0  ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpuscular_volume__MCV__11 ┆ 78.0  ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpuscular_volume__MCV__11 ┆ 78.0  ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Mean_corpuscular_volume__MCV__11 ┆ 77.0  ┆ 2015-01-14 │
└─────────────┴────────────────┴──────────────────────────────────┴───────┴────────────┘

lazy_measurement_Monocyte_count_23

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Monocyte_count_23 ┆ 0.9   ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Monocyte_count_23 ┆ 0.4   ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Monocyte_count_23 ┆ 0.5   ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Monocyte_count_23 ┆ 0.4   ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Monocyte_count_23 ┆ 0.5   ┆ 2015-01-14 │
└─────────────┴────────────────┴───────────────────┴───────┴────────────┘

lazy_measurement_N_terminal_pro_brain_natriuretic_peptide_level_67

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬────────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE  ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---    ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64    ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪════════╪════════════╡
│ 21515       ┆ 5954327421515 ┆ N_terminal_pro_brain_natriuretic… ┆ 176.0  ┆ 2013-07-25 │
│ 21515       ┆ 5954620221515 ┆ N_terminal_pro_brain_natriuretic… ┆ 1747.0 ┆ 2013-03-21 │
│ 21515       ┆ 5954649721515 ┆ N_terminal_pro_brain_natriuretic… ┆ 73.0   ┆ 2013-04-15 │
│ 21515       ┆ 5954706921515 ┆ N_terminal_pro_brain_natriuretic… ┆ 7256.0 ┆ 2012-04-30 │
│ 21515       ┆ 5954737121515 ┆ N_terminal_pro_brain_natriuretic… ┆ 79.0   ┆ 2013-10-13 │
└─────────────┴───────────────┴───────────────────────────────────┴────────┴────────────┘

lazy_measurement_Neutrophil_count_19

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT               ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                 ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                 ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Neutrophil_count_19 ┆ 10.7  ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Neutrophil_count_19 ┆ 4.2   ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Neutrophil_count_19 ┆ 3.0   ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Neutrophil_count_19 ┆ 3.9   ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Neutrophil_count_19 ┆ 3.5   ┆ 2015-01-14 │
└─────────────┴────────────────┴─────────────────────┴───────┴────────────┘

lazy_measurement_Never_smoked_tobacco_85

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                   ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                     ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                     ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Never_smoked_tobacco_85 ┆ null  ┆ 2001-09-18 │
│ 21515       ┆ 10996238121515 ┆ Never_smoked_tobacco_85 ┆ null  ┆ 2004-07-23 │
│ 21515       ┆ 10996238121515 ┆ Never_smoked_tobacco_85 ┆ null  ┆ 2005-04-06 │
│ 21515       ┆ 10996238121515 ┆ Never_smoked_tobacco_85 ┆ null  ┆ 2006-06-06 │
│ 21515       ┆ 10996238121515 ┆ Never_smoked_tobacco_85 ┆ null  ┆ 2007-04-16 │
└─────────────┴────────────────┴─────────────────────────┴───────┴────────────┘

lazy_measurement_Non_HDL_cholesterol_level_108

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954236321515 ┆ Non_HDL_cholesterol_level_108 ┆ 2.9   ┆ 2016-02-18 │
│ 21515       ┆ 5954246121515 ┆ Non_HDL_cholesterol_level_108 ┆ 3.5   ┆ 2015-12-31 │
│ 21515       ┆ 5954296021515 ┆ Non_HDL_cholesterol_level_108 ┆ 2.1   ┆ 2015-10-16 │
│ 21515       ┆ 5954533721515 ┆ Non_HDL_cholesterol_level_108 ┆ 3.2   ┆ 2014-11-14 │
│ 21515       ┆ 5954533721515 ┆ Non_HDL_cholesterol_level_108 ┆ 3.1   ┆ 2015-10-16 │
└─────────────┴───────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_O_E___height_1

shape: (5, 5)
┌─────────────┬────────────────┬────────────────┬────────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT          ┆ VALUE  ┆ DATE       │
│ ---         ┆ ---            ┆ ---            ┆ ---    ┆ ---        │
│ i64         ┆ i64            ┆ str            ┆ f64    ┆ str        │
╞═════════════╪════════════════╪════════════════╪════════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ O_E___height_1 ┆ 149.86 ┆ 2021-03-25 │
│ 21515       ┆ 10995640321515 ┆ O_E___height_1 ┆ 149.0  ┆ 2021-08-10 │
│ 21515       ┆ 10996238021515 ┆ O_E___height_1 ┆ 172.72 ┆ 2021-03-25 │
│ 21515       ┆ 10996238121515 ┆ O_E___height_1 ┆ 187.96 ┆ 2001-09-18 │
│ 21515       ┆ 10996238121515 ┆ O_E___height_1 ┆ 187.0  ┆ 2015-02-23 │
└─────────────┴────────────────┴────────────────┴────────┴────────────┘

lazy_measurement_O_E___weight_2

shape: (5, 5)
┌─────────────┬────────────────┬────────────────┬────────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT          ┆ VALUE  ┆ DATE       │
│ ---         ┆ ---            ┆ ---            ┆ ---    ┆ ---        │
│ i64         ┆ i64            ┆ str            ┆ f64    ┆ str        │
╞═════════════╪════════════════╪════════════════╪════════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ O_E___weight_2 ┆ 63.504 ┆ 2021-03-25 │
│ 21515       ┆ 10995640321515 ┆ O_E___weight_2 ┆ 69.854 ┆ 2021-08-10 │
│ 21515       ┆ 10996237921515 ┆ O_E___weight_2 ┆ null   ┆ 2018-10-30 │
│ 21515       ┆ 10996238021515 ┆ O_E___weight_2 ┆ 95.256 ┆ 2021-03-25 │
│ 21515       ┆ 10996238121515 ┆ O_E___weight_2 ┆ 72.0   ┆ 2001-09-18 │
└─────────────┴────────────────┴────────────────┴────────┴────────────┘

lazy_measurement_Plasma_B_natriuretic_peptide_level_69

shape: (2, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954898821515 ┆ Plasma_B_natriuretic_peptide_lev… ┆ 32.0  ┆ 2019-04-18 │
│ 21515       ┆ 6909473421515 ┆ Plasma_B_natriuretic_peptide_lev… ┆ 31.0  ┆ 2019-08-19 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_C_reactive_protein_60

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                        ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                          ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                          ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Plasma_C_reactive_protein_60 ┆ 2.0   ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Plasma_C_reactive_protein_60 ┆ 2.0   ┆ 2016-07-22 │
│ 21515       ┆ 10996238121515 ┆ Plasma_C_reactive_protein_60 ┆ 1.0   ┆ 2018-08-03 │
│ 21515       ┆ 10996238121515 ┆ Plasma_C_reactive_protein_60 ┆ 2.0   ┆ 2019-10-28 │
│ 21515       ┆ 5954184321515  ┆ Plasma_C_reactive_protein_60 ┆ 1.0   ┆ 2013-04-25 │
└─────────────┴────────────────┴──────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_HDL_cholesterol_level_101

shape: (5, 5)
┌─────────────┬───────────────┬──────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                              ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                              ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954841521515 ┆ Plasma_HDL_cholesterol_level_101 ┆ 1.6   ┆ 2011-02-18 │
│ 21515       ┆ 5955883321515 ┆ Plasma_HDL_cholesterol_level_101 ┆ 1.53  ┆ 2013-07-17 │
│ 21515       ┆ 5956689421515 ┆ Plasma_HDL_cholesterol_level_101 ┆ 1.83  ┆ 2017-03-14 │
│ 21515       ┆ 5957225621515 ┆ Plasma_HDL_cholesterol_level_101 ┆ null  ┆ 1995-05-25 │
│ 21515       ┆ 6500089621515 ┆ Plasma_HDL_cholesterol_level_101 ┆ 1.23  ┆ 2016-12-09 │
└─────────────┴───────────────┴──────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_LDL_cholesterol_level_104

shape: (3, 5)
┌─────────────┬───────────────┬──────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                              ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                              ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954841521515 ┆ Plasma_LDL_cholesterol_level_104 ┆ 3.2   ┆ 2011-02-18 │
│ 21515       ┆ 5955883321515 ┆ Plasma_LDL_cholesterol_level_104 ┆ null  ┆ 2013-07-17 │
│ 21515       ┆ 6500089621515 ┆ Plasma_LDL_cholesterol_level_104 ┆ 3.16  ┆ 2016-12-09 │
└─────────────┴───────────────┴──────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_TSH_level_73

shape: (5, 5)
┌─────────────┬───────────────┬─────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT               ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                 ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                 ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954841521515 ┆ Plasma_TSH_level_73 ┆ 0.95  ┆ 2011-02-18 │
│ 21515       ┆ 5955883321515 ┆ Plasma_TSH_level_73 ┆ 0.04  ┆ 2013-07-17 │
│ 21515       ┆ 5955883321515 ┆ Plasma_TSH_level_73 ┆ 0.03  ┆ 2013-09-20 │
│ 21515       ┆ 5955883321515 ┆ Plasma_TSH_level_73 ┆ 0.41  ┆ 2014-01-27 │
│ 21515       ┆ 5955883321515 ┆ Plasma_TSH_level_73 ┆ 0.21  ┆ 2014-03-24 │
└─────────────┴───────────────┴─────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_alanine_aminotransferase_level_44

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954591021515 ┆ Plasma_alanine_aminotransferase_… ┆ 39.0  ┆ 2015-11-14 │
│ 21515       ┆ 5954591021515 ┆ Plasma_alanine_aminotransferase_… ┆ 74.0  ┆ 2016-06-25 │
│ 21515       ┆ 5954591021515 ┆ Plasma_alanine_aminotransferase_… ┆ 76.0  ┆ 2016-10-18 │
│ 21515       ┆ 5954591021515 ┆ Plasma_alanine_aminotransferase_… ┆ 73.0  ┆ 2017-10-21 │
│ 21515       ┆ 5954591021515 ┆ Plasma_alanine_aminotransferase_… ┆ 130.0 ┆ 2018-01-13 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_albumin_level_52

shape: (5, 5)
┌─────────────┬───────────────┬─────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                   ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                     ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                     ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954841521515 ┆ Plasma_albumin_level_52 ┆ 44.0  ┆ 2011-02-18 │
│ 21515       ┆ 5954896821515 ┆ Plasma_albumin_level_52 ┆ 48.0  ┆ 2006-07-24 │
│ 21515       ┆ 5954896821515 ┆ Plasma_albumin_level_52 ┆ 48.0  ┆ 2008-02-01 │
│ 21515       ┆ 5954896821515 ┆ Plasma_albumin_level_52 ┆ 46.0  ┆ 2008-02-28 │
│ 21515       ┆ 5955650521515 ┆ Plasma_albumin_level_52 ┆ 43.0  ┆ 2004-12-09 │
└─────────────┴───────────────┴─────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_alkaline_phosphatase_level_49

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954361921515 ┆ Plasma_alkaline_phosphatase_leve… ┆ null  ┆ 2005-05-06 │
│ 21515       ┆ 5954841521515 ┆ Plasma_alkaline_phosphatase_leve… ┆ 726.0 ┆ 2011-02-18 │
│ 21515       ┆ 5955883321515 ┆ Plasma_alkaline_phosphatase_leve… ┆ 190.0 ┆ 2013-07-17 │
│ 21515       ┆ 5956790921515 ┆ Plasma_alkaline_phosphatase_leve… ┆ 46.0  ┆ 2004-07-02 │
│ 21515       ┆ 5956790921515 ┆ Plasma_alkaline_phosphatase_leve… ┆ 42.0  ┆ 2007-12-24 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_calcium_level_40

shape: (4, 5)
┌─────────────┬───────────────┬─────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                   ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                     ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                     ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954841521515 ┆ Plasma_calcium_level_40 ┆ 2.51  ┆ 2011-02-18 │
│ 21515       ┆ 5955883321515 ┆ Plasma_calcium_level_40 ┆ 2.62  ┆ 2013-07-17 │
│ 21515       ┆ 5956790921515 ┆ Plasma_calcium_level_40 ┆ 2.32  ┆ 2007-12-24 │
│ 21515       ┆ 6500089621515 ┆ Plasma_calcium_level_40 ┆ 2.37  ┆ 2016-12-09 │
└─────────────┴───────────────┴─────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_cholesterol_HDL_ratio_96

shape: (2, 5)
┌─────────────┬───────────────┬─────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                           ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                             ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                             ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5955130021515 ┆ Plasma_cholesterol_HDL_ratio_96 ┆ 6.1   ┆ 2017-02-10 │
│ 21515       ┆ 5955883321515 ┆ Plasma_cholesterol_HDL_ratio_96 ┆ 3.1   ┆ 2013-07-17 │
└─────────────┴───────────────┴─────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_corrected_calcium_level_43

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954295621515 ┆ Plasma_corrected_calcium_level_4… ┆ 0.0   ┆ 2006-01-06 │
│ 21515       ┆ 5954832221515 ┆ Plasma_corrected_calcium_level_4… ┆ 1.9   ┆ 2005-07-18 │
│ 21515       ┆ 5954841521515 ┆ Plasma_corrected_calcium_level_4… ┆ 2.43  ┆ 2011-02-18 │
│ 21515       ┆ 5954980421515 ┆ Plasma_corrected_calcium_level_4… ┆ 2.64  ┆ 2005-03-21 │
│ 21515       ┆ 5955169521515 ┆ Plasma_corrected_calcium_level_4… ┆ null  ┆ 2007-01-29 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_creatinine_level_32

shape: (5, 5)
┌─────────────┬───────────────┬────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                      ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                        ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                        ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5955883321515 ┆ Plasma_creatinine_level_32 ┆ 83.0  ┆ 2013-07-17 │
│ 21515       ┆ 5956790921515 ┆ Plasma_creatinine_level_32 ┆ 92.0  ┆ 2004-07-02 │
│ 21515       ┆ 5956790921515 ┆ Plasma_creatinine_level_32 ┆ 74.0  ┆ 2007-12-24 │
│ 21515       ┆ 5957224121515 ┆ Plasma_creatinine_level_32 ┆ 38.0  ┆ 2012-05-25 │
│ 21515       ┆ 6081385321515 ┆ Plasma_creatinine_level_32 ┆ 60.0  ┆ 2018-04-20 │
└─────────────┴───────────────┴────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_ferritin_level_62

shape: (5, 5)
┌─────────────┬───────────────┬──────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                    ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                      ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                      ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954236621515 ┆ Plasma_ferritin_level_62 ┆ null  ┆ 2012-06-12 │
│ 21515       ┆ 5954236621515 ┆ Plasma_ferritin_level_62 ┆ null  ┆ 2013-06-14 │
│ 21515       ┆ 5954295621515 ┆ Plasma_ferritin_level_62 ┆ null  ┆ 2015-12-01 │
│ 21515       ┆ 5956232821515 ┆ Plasma_ferritin_level_62 ┆ null  ┆ 2017-10-11 │
│ 21515       ┆ 5956318321515 ┆ Plasma_ferritin_level_62 ┆ null  ┆ 2014-12-16 │
└─────────────┴───────────────┴──────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_free_T4_level_77

shape: (5, 5)
┌─────────────┬───────────────┬─────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                   ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                     ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                     ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954841521515 ┆ Plasma_free_T4_level_77 ┆ 15.7  ┆ 2011-02-18 │
│ 21515       ┆ 5955883321515 ┆ Plasma_free_T4_level_77 ┆ 32.8  ┆ 2013-07-17 │
│ 21515       ┆ 5955883321515 ┆ Plasma_free_T4_level_77 ┆ 16.5  ┆ 2013-09-20 │
│ 21515       ┆ 5955883321515 ┆ Plasma_free_T4_level_77 ┆ 7.3   ┆ 2014-01-27 │
│ 21515       ┆ 5955883321515 ┆ Plasma_free_T4_level_77 ┆ 10.3  ┆ 2014-03-24 │
└─────────────┴───────────────┴─────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_gamma_glutamyl_transferase_level_58

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954440821515 ┆ Plasma_gamma_glutamyl_transferas… ┆ 51.0  ┆ 2014-06-10 │
│ 21515       ┆ 5954440821515 ┆ Plasma_gamma_glutamyl_transferas… ┆ 20.0  ┆ 2014-07-23 │
│ 21515       ┆ 5954440821515 ┆ Plasma_gamma_glutamyl_transferas… ┆ 31.0  ┆ 2015-06-24 │
│ 21515       ┆ 5954440821515 ┆ Plasma_gamma_glutamyl_transferas… ┆ 23.0  ┆ 2016-04-07 │
│ 21515       ┆ 5954440821515 ┆ Plasma_gamma_glutamyl_transferas… ┆ 23.0  ┆ 2016-04-14 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_potassium_level_27

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                     ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                       ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                       ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954551021515 ┆ Plasma_potassium_level_27 ┆ null  ┆ 2016-05-09 │
│ 21515       ┆ 5955883321515 ┆ Plasma_potassium_level_27 ┆ 4.8   ┆ 2013-07-17 │
│ 21515       ┆ 5956790921515 ┆ Plasma_potassium_level_27 ┆ 3.6   ┆ 2004-07-02 │
│ 21515       ┆ 5956790921515 ┆ Plasma_potassium_level_27 ┆ 4.2   ┆ 2007-12-24 │
│ 21515       ┆ 5957224121515 ┆ Plasma_potassium_level_27 ┆ 3.8   ┆ 2012-05-25 │
└─────────────┴───────────────┴───────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_pro_brain_natriuretic_peptide_level_64

shape: (2, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5955739621515 ┆ Plasma_pro_brain_natriuretic_pep… ┆ 10.17 ┆ 2017-12-19 │
│ 21515       ┆ 5956483721515 ┆ Plasma_pro_brain_natriuretic_pep… ┆ 53.87 ┆ 2013-11-29 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_sodium_level_25

shape: (5, 5)
┌─────────────┬───────────────┬────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                  ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                    ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                    ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5955883321515 ┆ Plasma_sodium_level_25 ┆ 141.0 ┆ 2013-07-17 │
│ 21515       ┆ 5956790921515 ┆ Plasma_sodium_level_25 ┆ 140.0 ┆ 2004-07-02 │
│ 21515       ┆ 5956790921515 ┆ Plasma_sodium_level_25 ┆ 140.0 ┆ 2007-12-24 │
│ 21515       ┆ 5957224121515 ┆ Plasma_sodium_level_25 ┆ 139.0 ┆ 2012-05-25 │
│ 21515       ┆ 6081385321515 ┆ Plasma_sodium_level_25 ┆ 141.0 ┆ 2018-04-20 │
└─────────────┴───────────────┴────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_total_bilirubin_level_54

shape: (5, 5)
┌─────────────┬───────────────┬─────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                           ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                             ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                             ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954841521515 ┆ Plasma_total_bilirubin_level_54 ┆ 11.0  ┆ 2011-02-18 │
│ 21515       ┆ 5955883321515 ┆ Plasma_total_bilirubin_level_54 ┆ 11.0  ┆ 2013-07-17 │
│ 21515       ┆ 5956790921515 ┆ Plasma_total_bilirubin_level_54 ┆ 16.0  ┆ 2004-07-02 │
│ 21515       ┆ 5956790921515 ┆ Plasma_total_bilirubin_level_54 ┆ 14.0  ┆ 2007-12-24 │
│ 21515       ┆ 5956790921515 ┆ Plasma_total_bilirubin_level_54 ┆ 13.0  ┆ 2008-03-13 │
└─────────────┴───────────────┴─────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_total_cholesterol_level_99

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5955412421515 ┆ Plasma_total_cholesterol_level_9… ┆ 5.0   ┆ 2017-12-13 │
│ 21515       ┆ 5955883321515 ┆ Plasma_total_cholesterol_level_9… ┆ 4.8   ┆ 2013-07-17 │
│ 21515       ┆ 5955958321515 ┆ Plasma_total_cholesterol_level_9… ┆ 4.8   ┆ 2021-10-18 │
│ 21515       ┆ 5956422821515 ┆ Plasma_total_cholesterol_level_9… ┆ 4.47  ┆ 2021-12-02 │
│ 21515       ┆ 5957495921515 ┆ Plasma_total_cholesterol_level_9… ┆ 5.89  ┆ 2021-07-19 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_triglyceride_level_106

shape: (3, 5)
┌─────────────┬───────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954841521515 ┆ Plasma_triglyceride_level_106 ┆ 0.45  ┆ 2011-02-18 │
│ 21515       ┆ 5955876521515 ┆ Plasma_triglyceride_level_106 ┆ null  ┆ 2019-08-21 │
│ 21515       ┆ 6500089621515 ┆ Plasma_triglyceride_level_106 ┆ 0.78  ┆ 2016-12-09 │
└─────────────┴───────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_Plasma_urea_level_30

shape: (4, 5)
┌─────────────┬───────────────┬──────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                  ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                  ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5955883321515 ┆ Plasma_urea_level_30 ┆ 6.4   ┆ 2013-07-17 │
│ 21515       ┆ 5956790921515 ┆ Plasma_urea_level_30 ┆ 3.6   ┆ 2004-07-02 │
│ 21515       ┆ 5956790921515 ┆ Plasma_urea_level_30 ┆ 4.4   ┆ 2007-12-24 │
│ 21515       ┆ 6500089621515 ┆ Plasma_urea_level_30 ┆ 5.0   ┆ 2016-12-09 │
└─────────────┴───────────────┴──────────────────────┴───────┴────────────┘

lazy_measurement_Platelet_count_12

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Platelet_count_12 ┆ 395.0 ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Platelet_count_12 ┆ 249.0 ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Platelet_count_12 ┆ 199.0 ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Platelet_count_12 ┆ 212.0 ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Platelet_count_12 ┆ 223.0 ┆ 2015-01-14 │
└─────────────┴────────────────┴───────────────────┴───────┴────────────┘

lazy_measurement_Red_blood_cell__RBC__count_10

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Red_blood_cell__RBC__count_10 ┆ 3.9   ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Red_blood_cell__RBC__count_10 ┆ 6.26  ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Red_blood_cell__RBC__count_10 ┆ 6.09  ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Red_blood_cell__RBC__count_10 ┆ 6.33  ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Red_blood_cell__RBC__count_10 ┆ 6.02  ┆ 2015-01-14 │
└─────────────┴────────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_Red_blood_cell_distribution_width_17

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954184321515 ┆ Red_blood_cell_distribution_widt… ┆ 12.9  ┆ 2021-10-19 │
│ 21515       ┆ 5954189521515 ┆ Red_blood_cell_distribution_widt… ┆ 13.0  ┆ 2021-09-27 │
│ 21515       ┆ 5954189621515 ┆ Red_blood_cell_distribution_widt… ┆ 12.9  ┆ 2004-01-02 │
│ 21515       ┆ 5954189621515 ┆ Red_blood_cell_distribution_widt… ┆ 12.9  ┆ 2004-01-03 │
│ 21515       ┆ 5954189621515 ┆ Red_blood_cell_distribution_widt… ┆ 13.1  ┆ 2004-01-19 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_25_Hydroxy_vitamin_D3_level_88

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954189621515 ┆ Serum_25_Hydroxy_vitamin_D3_leve… ┆ null  ┆ 2016-04-26 │
│ 21515       ┆ 5954224721515 ┆ Serum_25_Hydroxy_vitamin_D3_leve… ┆ 15.2  ┆ 2013-04-22 │
│ 21515       ┆ 5954246121515 ┆ Serum_25_Hydroxy_vitamin_D3_leve… ┆ 28.4  ┆ 2017-02-27 │
│ 21515       ┆ 5954314621515 ┆ Serum_25_Hydroxy_vitamin_D3_leve… ┆ 20.2  ┆ 2013-06-06 │
│ 21515       ┆ 5954333121515 ┆ Serum_25_Hydroxy_vitamin_D3_leve… ┆ 63.6  ┆ 2012-10-09 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_C_reactive_protein_level_59

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954188221515 ┆ Serum_C_reactive_protein_level_5… ┆ null  ┆ 2020-06-02 │
│ 21515       ┆ 5954202121515 ┆ Serum_C_reactive_protein_level_5… ┆ 6.0   ┆ 2021-12-13 │
│ 21515       ┆ 5954208721515 ┆ Serum_C_reactive_protein_level_5… ┆ 8.0   ┆ 2014-06-13 │
│ 21515       ┆ 5954230521515 ┆ Serum_C_reactive_protein_level_5… ┆ 2.0   ┆ 2022-02-16 │
│ 21515       ┆ 5954235321515 ┆ Serum_C_reactive_protein_level_5… ┆ 17.0  ┆ 2021-11-22 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_HDL_cholesterol_level_100

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                           ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                             ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                             ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_HDL_cholesterol_level_100 ┆ 1.0   ┆ 2015-01-14 │
│ 21515       ┆ 5954186521515  ┆ Serum_HDL_cholesterol_level_100 ┆ 1.9   ┆ 2009-08-04 │
│ 21515       ┆ 5954186521515  ┆ Serum_HDL_cholesterol_level_100 ┆ 1.9   ┆ 2020-09-02 │
│ 21515       ┆ 5954186521515  ┆ Serum_HDL_cholesterol_level_100 ┆ null  ┆ 2020-09-02 │
│ 21515       ┆ 5954187021515  ┆ Serum_HDL_cholesterol_level_100 ┆ 1.78  ┆ 2004-12-10 │
└─────────────┴────────────────┴─────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_LDL_cholesterol_level_102

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                           ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                             ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                             ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_LDL_cholesterol_level_102 ┆ 3.5   ┆ 2015-01-14 │
│ 21515       ┆ 5954186521515  ┆ Serum_LDL_cholesterol_level_102 ┆ 2.8   ┆ 2009-08-04 │
│ 21515       ┆ 5954187021515  ┆ Serum_LDL_cholesterol_level_102 ┆ 3.7   ┆ 2004-12-10 │
│ 21515       ┆ 5954187021515  ┆ Serum_LDL_cholesterol_level_102 ┆ 4.3   ┆ 2008-10-10 │
│ 21515       ┆ 5954187021515  ┆ Serum_LDL_cholesterol_level_102 ┆ null  ┆ 2015-04-17 │
└─────────────┴────────────────┴─────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_N_terminal_pro_B_type_natriuretic_peptide_conc_68

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬────────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE  ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---    ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64    ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪════════╪════════════╡
│ 21515       ┆ 5954208721515 ┆ Serum_N_terminal_pro_B_type_natr… ┆ 293.0  ┆ 2019-12-23 │
│ 21515       ┆ 5954208821515 ┆ Serum_N_terminal_pro_B_type_natr… ┆ 79.0   ┆ 2021-08-18 │
│ 21515       ┆ 5954236321515 ┆ Serum_N_terminal_pro_B_type_natr… ┆ 50.0   ┆ 2018-01-26 │
│ 21515       ┆ 5954309821515 ┆ Serum_N_terminal_pro_B_type_natr… ┆ 266.0  ┆ 2017-06-19 │
│ 21515       ┆ 5954310721515 ┆ Serum_N_terminal_pro_B_type_natr… ┆ 3509.0 ┆ 2016-09-14 │
└─────────────┴───────────────┴───────────────────────────────────┴────────┴────────────┘

lazy_measurement_Serum_T4_level_78

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954196521515 ┆ Serum_T4_level_78 ┆ null  ┆ 2004-12-13 │
│ 21515       ┆ 5954196521515 ┆ Serum_T4_level_78 ┆ 11.3  ┆ 2010-03-23 │
│ 21515       ┆ 5954230521515 ┆ Serum_T4_level_78 ┆ 14.2  ┆ 2007-03-19 │
│ 21515       ┆ 5954230521515 ┆ Serum_T4_level_78 ┆ 9.7   ┆ 2008-07-23 │
│ 21515       ┆ 5954260021515 ┆ Serum_T4_level_78 ┆ 141.1 ┆ 2004-01-26 │
└─────────────┴───────────────┴───────────────────┴───────┴────────────┘

lazy_measurement_Serum_TSH_level_71

shape: (5, 5)
┌─────────────┬────────────────┬────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT              ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                ┆ f64   ┆ str        │
╞═════════════╪════════════════╪════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Serum_TSH_level_71 ┆ 0.61  ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Serum_TSH_level_71 ┆ 3.13  ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_TSH_level_71 ┆ 1.25  ┆ 2018-08-03 │
│ 21515       ┆ 5954184321515  ┆ Serum_TSH_level_71 ┆ 1.89  ┆ 2005-02-04 │
│ 21515       ┆ 5954184321515  ┆ Serum_TSH_level_71 ┆ 2.8   ┆ 2008-04-02 │
└─────────────┴────────────────┴────────────────────┴───────┴────────────┘

lazy_measurement_Serum_alanine_aminotransferase_level_45

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_alanine_aminotransferase_l… ┆ 106.0 ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_alanine_aminotransferase_l… ┆ 123.0 ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_alanine_aminotransferase_l… ┆ 38.0  ┆ 2015-01-27 │
│ 21515       ┆ 10996238121515 ┆ Serum_alanine_aminotransferase_l… ┆ 29.0  ┆ 2015-11-03 │
│ 21515       ┆ 10996238121515 ┆ Serum_alanine_aminotransferase_l… ┆ 36.0  ┆ 2016-07-22 │
└─────────────┴────────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_albumin_51

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---              ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str              ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_albumin_51 ┆ 50.0  ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_albumin_51 ┆ 41.0  ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_albumin_51 ┆ 46.0  ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_albumin_51 ┆ 46.0  ┆ 2015-01-27 │
│ 21515       ┆ 10996238121515 ┆ Serum_albumin_51 ┆ 44.0  ┆ 2015-11-03 │
└─────────────┴────────────────┴──────────────────┴───────┴────────────┘

lazy_measurement_Serum_alkaline_phosphatase_50

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_alkaline_phosphatase_50 ┆ 78.0  ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_alkaline_phosphatase_50 ┆ 64.0  ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_alkaline_phosphatase_50 ┆ 90.0  ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_alkaline_phosphatase_50 ┆ 107.0 ┆ 2015-01-27 │
│ 21515       ┆ 10996238121515 ┆ Serum_alkaline_phosphatase_50 ┆ 82.0  ┆ 2015-11-03 │
└─────────────┴────────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_bilirubin_level_53

shape: (5, 5)
┌─────────────┬───────────────┬──────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                    ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                      ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                      ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954189221515 ┆ Serum_bilirubin_level_53 ┆ 11.0  ┆ 2001-01-18 │
│ 21515       ┆ 5954189221515 ┆ Serum_bilirubin_level_53 ┆ 9.0   ┆ 2001-02-03 │
│ 21515       ┆ 5954222521515 ┆ Serum_bilirubin_level_53 ┆ 6.0   ┆ 2000-12-29 │
│ 21515       ┆ 5954236621515 ┆ Serum_bilirubin_level_53 ┆ 9.0   ┆ 2017-08-23 │
│ 21515       ┆ 5954236621515 ┆ Serum_bilirubin_level_53 ┆ 7.0   ┆ 2017-12-29 │
└─────────────┴───────────────┴──────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_calcium_39

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---              ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str              ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_calcium_39 ┆ 2.48  ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_calcium_39 ┆ null  ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_calcium_39 ┆ 2.44  ┆ 2018-08-03 │
│ 21515       ┆ 5954187021515  ┆ Serum_calcium_39 ┆ 2.25  ┆ 2013-10-09 │
│ 21515       ┆ 5954187021515  ┆ Serum_calcium_39 ┆ 2.31  ┆ 2015-04-17 │
└─────────────┴────────────────┴──────────────────┴───────┴────────────┘

lazy_measurement_Serum_cholesterol_97

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                  ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                  ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_cholesterol_97 ┆ 5.3   ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_cholesterol_97 ┆ 5.6   ┆ 2015-01-14 │
│ 21515       ┆ 5954186521515  ┆ Serum_cholesterol_97 ┆ 5.0   ┆ 2009-08-04 │
│ 21515       ┆ 5954186521515  ┆ Serum_cholesterol_97 ┆ 5.5   ┆ 2020-09-02 │
│ 21515       ┆ 5954186521515  ┆ Serum_cholesterol_97 ┆ null  ┆ 2020-09-02 │
└─────────────┴────────────────┴──────────────────────┴───────┴────────────┘

lazy_measurement_Serum_cholesterol_HDL_ratio_94

shape: (5, 5)
┌─────────────┬────────────────┬────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                          ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                            ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                            ┆ f64   ┆ str        │
╞═════════════╪════════════════╪════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_cholesterol_HDL_ratio_94 ┆ 5.6   ┆ 2015-01-14 │
│ 21515       ┆ 5954186521515  ┆ Serum_cholesterol_HDL_ratio_94 ┆ 2.89  ┆ 2020-09-02 │
│ 21515       ┆ 5954186521515  ┆ Serum_cholesterol_HDL_ratio_94 ┆ null  ┆ 2020-09-02 │
│ 21515       ┆ 5954187021515  ┆ Serum_cholesterol_HDL_ratio_94 ┆ 2.95  ┆ 2015-04-17 │
│ 21515       ┆ 5954187021515  ┆ Serum_cholesterol_HDL_ratio_94 ┆ 3.0   ┆ 2018-03-26 │
└─────────────┴────────────────┴────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_creatinine_31

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT               ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                 ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                 ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Serum_creatinine_31 ┆ 46.0  ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Serum_creatinine_31 ┆ 116.0 ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_creatinine_31 ┆ 105.0 ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_creatinine_31 ┆ 108.0 ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_creatinine_31 ┆ 91.0  ┆ 2015-11-03 │
└─────────────┴────────────────┴─────────────────────┴───────┴────────────┘

lazy_measurement_Serum_ferritin_63

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_ferritin_63 ┆ 122.5 ┆ 2015-01-27 │
│ 21515       ┆ 5954184321515  ┆ Serum_ferritin_63 ┆ 13.5  ┆ 2015-12-21 │
│ 21515       ┆ 5954184321515  ┆ Serum_ferritin_63 ┆ 14.8  ┆ 2016-12-16 │
│ 21515       ┆ 5954184321515  ┆ Serum_ferritin_63 ┆ 8.0   ┆ 2018-05-31 │
│ 21515       ┆ 5954184321515  ┆ Serum_ferritin_63 ┆ 21.2  ┆ 2020-10-30 │
└─────────────┴────────────────┴───────────────────┴───────┴────────────┘

lazy_measurement_Serum_folate_80

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT           ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---             ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str             ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_folate_80 ┆ 6.5   ┆ 2006-09-08 │
│ 21515       ┆ 10996238121515 ┆ Serum_folate_80 ┆ 6.1   ┆ 2015-01-27 │
│ 21515       ┆ 5954184321515  ┆ Serum_folate_80 ┆ 5.3   ┆ 2015-12-21 │
│ 21515       ┆ 5954187021515  ┆ Serum_folate_80 ┆ 6.5   ┆ 2013-10-09 │
│ 21515       ┆ 5954187021515  ┆ Serum_folate_80 ┆ 6.5   ┆ 2017-05-05 │
└─────────────┴────────────────┴─────────────────┴───────┴────────────┘

lazy_measurement_Serum_free_T4_level_75

shape: (5, 5)
┌─────────────┬────────────────┬────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                  ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                    ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                    ┆ f64   ┆ str        │
╞═════════════╪════════════════╪════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Serum_free_T4_level_75 ┆ 7.7   ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Serum_free_T4_level_75 ┆ 11.4  ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_free_T4_level_75 ┆ 11.2  ┆ 2018-08-03 │
│ 21515       ┆ 5954184321515  ┆ Serum_free_T4_level_75 ┆ 14.8  ┆ 2005-02-04 │
│ 21515       ┆ 5954184321515  ┆ Serum_free_T4_level_75 ┆ 11.8  ┆ 2008-04-02 │
└─────────────┴────────────────┴────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_gamma_glutamyl_transferase_level_57

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_gamma_glutamyl_transferase… ┆ 16.0  ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_gamma_glutamyl_transferase… ┆ 27.0  ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_gamma_glutamyl_transferase… ┆ 44.0  ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_gamma_glutamyl_transferase… ┆ 35.0  ┆ 2015-01-27 │
│ 21515       ┆ 10996238121515 ┆ Serum_gamma_glutamyl_transferase… ┆ 27.0  ┆ 2015-11-03 │
└─────────────┴────────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_non_high_density_lipoprotein_cholesterol_level_107

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954186521515 ┆ Serum_non_high_density_lipoprote… ┆ 3.6   ┆ 2020-09-02 │
│ 21515       ┆ 5954186521515 ┆ Serum_non_high_density_lipoprote… ┆ null  ┆ 2020-09-02 │
│ 21515       ┆ 5954187021515 ┆ Serum_non_high_density_lipoprote… ┆ 3.6   ┆ 2018-03-26 │
│ 21515       ┆ 5954187021515 ┆ Serum_non_high_density_lipoprote… ┆ 3.8   ┆ 2020-09-29 │
│ 21515       ┆ 5954187021515 ┆ Serum_non_high_density_lipoprote… ┆ 3.41  ┆ 2021-11-26 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_potassium_26

shape: (5, 5)
┌─────────────┬────────────────┬────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT              ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                ┆ f64   ┆ str        │
╞═════════════╪════════════════╪════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Serum_potassium_26 ┆ 4.1   ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Serum_potassium_26 ┆ 4.5   ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_potassium_26 ┆ 4.1   ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_potassium_26 ┆ 4.7   ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_potassium_26 ┆ 4.1   ┆ 2015-11-03 │
└─────────────┴────────────────┴────────────────────┴───────┴────────────┘

lazy_measurement_Serum_pro_brain_natriuretic_peptide_level_65

shape: (1, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954969021515 ┆ Serum_pro_brain_natriuretic_pept… ┆ 446.0 ┆ 2013-10-24 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_sodium_24

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT           ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---             ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str             ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Serum_sodium_24 ┆ 138.0 ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Serum_sodium_24 ┆ 146.0 ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_sodium_24 ┆ 137.0 ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_sodium_24 ┆ 138.0 ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_sodium_24 ┆ 139.0 ┆ 2015-11-03 │
└─────────────┴────────────────┴─────────────────┴───────┴────────────┘

lazy_measurement_Serum_total_25_hydroxy_vitamin_D_level_87

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954186521515 ┆ Serum_total_25_hydroxy_vitamin_D… ┆ 38.8  ┆ 2016-11-04 │
│ 21515       ┆ 5954186721515 ┆ Serum_total_25_hydroxy_vitamin_D… ┆ 51.7  ┆ 2021-06-22 │
│ 21515       ┆ 5954187021515 ┆ Serum_total_25_hydroxy_vitamin_D… ┆ 32.0  ┆ 2018-03-26 │
│ 21515       ┆ 5954187021515 ┆ Serum_total_25_hydroxy_vitamin_D… ┆ 68.4  ┆ 2021-11-26 │
│ 21515       ┆ 5954187021515 ┆ Serum_total_25_hydroxy_vitamin_D… ┆ null  ┆ 2021-11-26 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_total_bilirubin_level_56

shape: (5, 5)
┌─────────────┬────────────────┬────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                          ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                            ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                            ┆ f64   ┆ str        │
╞═════════════╪════════════════╪════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_total_bilirubin_level_56 ┆ 13.0  ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_total_bilirubin_level_56 ┆ 12.0  ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_total_bilirubin_level_56 ┆ 13.0  ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_total_bilirubin_level_56 ┆ 6.0   ┆ 2015-01-27 │
│ 21515       ┆ 10996238121515 ┆ Serum_total_bilirubin_level_56 ┆ 9.0   ┆ 2015-11-03 │
└─────────────┴────────────────┴────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_total_cholesterol_level_98

shape: (5, 5)
┌─────────────┬───────────────┬──────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                            ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                              ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                              ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954203021515 ┆ Serum_total_cholesterol_level_98 ┆ 6.4   ┆ 2015-09-03 │
│ 21515       ┆ 5954208821515 ┆ Serum_total_cholesterol_level_98 ┆ 5.64  ┆ 2012-11-26 │
│ 21515       ┆ 5954219021515 ┆ Serum_total_cholesterol_level_98 ┆ 5.36  ┆ 2013-01-03 │
│ 21515       ┆ 5954252421515 ┆ Serum_total_cholesterol_level_98 ┆ 5.83  ┆ 2012-11-20 │
│ 21515       ┆ 5954265721515 ┆ Serum_total_cholesterol_level_98 ┆ 5.6   ┆ 2015-07-06 │
└─────────────┴───────────────┴──────────────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_triglycerides_105

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                   ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                     ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                     ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_triglycerides_105 ┆ 2.08  ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_triglycerides_105 ┆ 2.5   ┆ 2015-01-14 │
│ 21515       ┆ 5954186521515  ┆ Serum_triglycerides_105 ┆ 0.6   ┆ 2009-08-04 │
│ 21515       ┆ 5954186521515  ┆ Serum_triglycerides_105 ┆ 1.2   ┆ 2020-09-02 │
│ 21515       ┆ 5954186521515  ┆ Serum_triglycerides_105 ┆ null  ┆ 2020-09-02 │
└─────────────┴────────────────┴─────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_urea_level_29

shape: (5, 5)
┌─────────────┬────────────────┬─────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT               ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                 ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                 ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Serum_urea_level_29 ┆ 2.8   ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Serum_urea_level_29 ┆ 4.8   ┆ 2006-08-25 │
│ 21515       ┆ 10996238121515 ┆ Serum_urea_level_29 ┆ 4.9   ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Serum_urea_level_29 ┆ 6.0   ┆ 2015-01-14 │
│ 21515       ┆ 10996238121515 ┆ Serum_urea_level_29 ┆ 7.0   ┆ 2015-11-03 │
└─────────────┴────────────────┴─────────────────────┴───────┴────────────┘

lazy_measurement_Serum_vitamin_B12_79

shape: (5, 5)
┌─────────────┬────────────────┬──────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                  ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                  ┆ f64   ┆ str        │
╞═════════════╪════════════════╪══════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10996238121515 ┆ Serum_vitamin_B12_79 ┆ 676.0 ┆ 2006-09-08 │
│ 21515       ┆ 10996238121515 ┆ Serum_vitamin_B12_79 ┆ 250.0 ┆ 2015-01-27 │
│ 21515       ┆ 5954184321515  ┆ Serum_vitamin_B12_79 ┆ 165.0 ┆ 2015-12-21 │
│ 21515       ┆ 5954184321515  ┆ Serum_vitamin_B12_79 ┆ null  ┆ 2021-10-19 │
│ 21515       ┆ 5954187021515  ┆ Serum_vitamin_B12_79 ┆ 184.0 ┆ 2013-10-09 │
└─────────────┴────────────────┴──────────────────────┴───────┴────────────┘

lazy_measurement_Serum_vitamin_D2_level_89

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                     ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                       ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                       ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954641121515 ┆ Serum_vitamin_D2_level_89 ┆ null  ┆ 2017-12-01 │
│ 21515       ┆ 5955520521515 ┆ Serum_vitamin_D2_level_89 ┆ 10.0  ┆ 2013-06-10 │
│ 21515       ┆ 5955813521515 ┆ Serum_vitamin_D2_level_89 ┆ 7.3   ┆ 2014-01-08 │
│ 21515       ┆ 5955983021515 ┆ Serum_vitamin_D2_level_89 ┆ null  ┆ 2010-03-08 │
│ 21515       ┆ 5956631121515 ┆ Serum_vitamin_D2_level_89 ┆ 51.0  ┆ 2016-06-28 │
└─────────────┴───────────────┴───────────────────────────┴───────┴────────────┘

lazy_measurement_Serum_vitamin_D_86

shape: (5, 5)
┌─────────────┬───────────────┬────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT              ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954189621515 ┆ Serum_vitamin_D_86 ┆ null  ┆ 2013-01-30 │
│ 21515       ┆ 5954189621515 ┆ Serum_vitamin_D_86 ┆ null  ┆ 2013-07-29 │
│ 21515       ┆ 5954189621515 ┆ Serum_vitamin_D_86 ┆ null  ┆ 2014-02-18 │
│ 21515       ┆ 5954516221515 ┆ Serum_vitamin_D_86 ┆ null  ┆ 2010-12-02 │
│ 21515       ┆ 5954595421515 ┆ Serum_vitamin_D_86 ┆ null  ┆ 2017-04-27 │
└─────────────┴───────────────┴────────────────────┴───────┴────────────┘

lazy_measurement_Systolic_blood_pressure_4

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                     ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                       ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                       ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Systolic_blood_pressure_4 ┆ 133.0 ┆ 2022-01-13 │
│ 21515       ┆ 10996237721515 ┆ Systolic_blood_pressure_4 ┆ 117.0 ┆ 2021-09-10 │
│ 21515       ┆ 10996238121515 ┆ Systolic_blood_pressure_4 ┆ 123.0 ┆ 2001-09-18 │
│ 21515       ┆ 10996238121515 ┆ Systolic_blood_pressure_4 ┆ 130.0 ┆ 2011-07-13 │
│ 21515       ┆ 10996238121515 ┆ Systolic_blood_pressure_4 ┆ 130.0 ┆ 2015-01-12 │
└─────────────┴────────────────┴───────────────────────────┴───────┴────────────┘

lazy_measurement_TSH___thyroid_stim_hormone_72

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954196521515 ┆ TSH___thyroid_stim_hormone_72 ┆ 0.05  ┆ 2001-11-21 │
│ 21515       ┆ 5954208821515 ┆ TSH___thyroid_stim_hormone_72 ┆ 1.1   ┆ 2002-09-30 │
│ 21515       ┆ 5954226421515 ┆ TSH___thyroid_stim_hormone_72 ┆ 2.3   ┆ 2000-01-10 │
│ 21515       ┆ 5954227621515 ┆ TSH___thyroid_stim_hormone_72 ┆ 0.77  ┆ 2001-04-25 │
│ 21515       ┆ 5954227621515 ┆ TSH___thyroid_stim_hormone_72 ┆ 0.74  ┆ 2001-11-12 │
└─────────────┴───────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_TSH_level_74

shape: (5, 5)
┌─────────────┬───────────────┬──────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT        ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---          ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str          ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪══════════════╪═══════╪════════════╡
│ 21515       ┆ 5954236621515 ┆ TSH_level_74 ┆ null  ┆ 2012-06-12 │
│ 21515       ┆ 5955287921515 ┆ TSH_level_74 ┆ null  ┆ 2004-06-01 │
│ 21515       ┆ 5955477621515 ┆ TSH_level_74 ┆ null  ┆ 2007-07-24 │
│ 21515       ┆ 5956881821515 ┆ TSH_level_74 ┆ null  ┆ 2002-05-29 │
│ 21515       ┆ 5956896521515 ┆ TSH_level_74 ┆ null  ┆ 2004-05-19 │
└─────────────┴───────────────┴──────────────┴───────┴────────────┘

lazy_measurement_Total_25_hydroxyvitamin_D_level_91

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954189621515 ┆ Total_25_hydroxyvitamin_D_level_… ┆ 22.0  ┆ 2013-01-30 │
│ 21515       ┆ 5954189621515 ┆ Total_25_hydroxyvitamin_D_level_… ┆ 38.0  ┆ 2013-07-29 │
│ 21515       ┆ 5954189621515 ┆ Total_25_hydroxyvitamin_D_level_… ┆ 54.0  ┆ 2014-02-18 │
│ 21515       ┆ 5954855721515 ┆ Total_25_hydroxyvitamin_D_level_… ┆ 27.0  ┆ 2015-04-23 │
│ 21515       ┆ 5954855721515 ┆ Total_25_hydroxyvitamin_D_level_… ┆ 68.0  ┆ 2015-07-24 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Total_alkaline_phosphatase_48

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                         ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                           ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                           ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954367221515 ┆ Total_alkaline_phosphatase_48 ┆ 115.0 ┆ 2017-10-26 │
│ 21515       ┆ 5954516221515 ┆ Total_alkaline_phosphatase_48 ┆ 100.0 ┆ 2009-01-06 │
│ 21515       ┆ 5954516221515 ┆ Total_alkaline_phosphatase_48 ┆ 98.0  ┆ 2009-06-04 │
│ 21515       ┆ 5954636321515 ┆ Total_alkaline_phosphatase_48 ┆ 76.0  ┆ 2016-03-21 │
│ 21515       ┆ 5954636321515 ┆ Total_alkaline_phosphatase_48 ┆ 82.0  ┆ 2016-04-19 │
└─────────────┴───────────────┴───────────────────────────────┴───────┴────────────┘

lazy_measurement_Total_bilirubin_55

shape: (5, 5)
┌─────────────┬───────────────┬────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT              ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954189221515 ┆ Total_bilirubin_55 ┆ 19.0  ┆ 1994-06-10 │
│ 21515       ┆ 5954189621515 ┆ Total_bilirubin_55 ┆ 19.0  ┆ 2004-01-02 │
│ 21515       ┆ 5954189621515 ┆ Total_bilirubin_55 ┆ 10.0  ┆ 2004-07-19 │
│ 21515       ┆ 5954189621515 ┆ Total_bilirubin_55 ┆ 13.0  ┆ 2005-02-02 │
│ 21515       ┆ 5954189621515 ┆ Total_bilirubin_55 ┆ 13.0  ┆ 2006-02-02 │
└─────────────┴───────────────┴────────────────────┴───────┴────────────┘

lazy_measurement_Total_cholesterol_HDL_ratio_95

shape: (5, 5)
┌─────────────┬───────────────┬────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                          ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                            ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                            ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954186521515 ┆ Total_cholesterol_HDL_ratio_95 ┆ 2.63  ┆ 2009-08-04 │
│ 21515       ┆ 5954187021515 ┆ Total_cholesterol_HDL_ratio_95 ┆ 3.31  ┆ 2004-12-10 │
│ 21515       ┆ 5954187021515 ┆ Total_cholesterol_HDL_ratio_95 ┆ 3.71  ┆ 2008-10-10 │
│ 21515       ┆ 5954189621515 ┆ Total_cholesterol_HDL_ratio_95 ┆ 2.87  ┆ 2010-04-01 │
│ 21515       ┆ 5954189621515 ┆ Total_cholesterol_HDL_ratio_95 ┆ 2.56  ┆ 2011-04-22 │
└─────────────┴───────────────┴────────────────────────────────┴───────┴────────────┘

lazy_measurement_Total_white_cell_count_18

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                     ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                       ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                       ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ Total_white_cell_count_18 ┆ 14.7  ┆ 2022-01-13 │
│ 21515       ┆ 10996238121515 ┆ Total_white_cell_count_18 ┆ 7.3   ┆ 2006-08-24 │
│ 21515       ┆ 10996238121515 ┆ Total_white_cell_count_18 ┆ 6.2   ┆ 2013-06-06 │
│ 21515       ┆ 10996238121515 ┆ Total_white_cell_count_18 ┆ 6.5   ┆ 2013-08-08 │
│ 21515       ┆ 10996238121515 ┆ Total_white_cell_count_18 ┆ 6.4   ┆ 2015-01-14 │
└─────────────┴────────────────┴───────────────────────────┴───────┴────────────┘

lazy_measurement_Urine_albumin_creatinine_ratio_35

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954187021515 ┆ Urine_albumin_creatinine_ratio_3… ┆ 6.29  ┆ 2021-12-08 │
│ 21515       ┆ 5954187521515 ┆ Urine_albumin_creatinine_ratio_3… ┆ 2.11  ┆ 2011-07-15 │
│ 21515       ┆ 5954189921515 ┆ Urine_albumin_creatinine_ratio_3… ┆ 2.33  ┆ 2009-04-16 │
│ 21515       ┆ 5954189921515 ┆ Urine_albumin_creatinine_ratio_3… ┆ 1.88  ┆ 2010-04-13 │
│ 21515       ┆ 5954189921515 ┆ Urine_albumin_creatinine_ratio_3… ┆ 2.11  ┆ 2011-09-16 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_Urine_microalbumin_creatinine_ratio_36

shape: (5, 5)
┌─────────────┬───────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID    ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---           ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64           ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪═══════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 5954318021515 ┆ Urine_microalbumin_creatinine_ra… ┆ null  ┆ 2004-12-29 │
│ 21515       ┆ 5955241221515 ┆ Urine_microalbumin_creatinine_ra… ┆ 4.25  ┆ 2013-09-13 │
│ 21515       ┆ 5955287921515 ┆ Urine_microalbumin_creatinine_ra… ┆ 1.0   ┆ 2000-12-11 │
│ 21515       ┆ 5955287921515 ┆ Urine_microalbumin_creatinine_ra… ┆ 2.9   ┆ 2000-12-16 │
│ 21515       ┆ 5955899121515 ┆ Urine_microalbumin_creatinine_ra… ┆ 1.1   ┆ 2014-06-17 │
└─────────────┴───────────────┴───────────────────────────────────┴───────┴────────────┘

lazy_measurement_eGFR_using_creatinine_CKD_EPI_per_1_73_square_metres_33

shape: (5, 5)
┌─────────────┬────────────────┬───────────────────────────────────┬───────┬────────────┐
│ PRACTICE_ID ┆ PATIENT_ID     ┆ EVENT                             ┆ VALUE ┆ DATE       │
│ ---         ┆ ---            ┆ ---                               ┆ ---   ┆ ---        │
│ i64         ┆ i64            ┆ str                               ┆ f64   ┆ str        │
╞═════════════╪════════════════╪═══════════════════════════════════╪═══════╪════════════╡
│ 21515       ┆ 10995640321515 ┆ eGFR_using_creatinine_CKD_EPI_pe… ┆ 90.0  ┆ 2022-01-13 │
│ 21515       ┆ 10995640321515 ┆ eGFR_using_creatinine_CKD_EPI_pe… ┆ null  ┆ 2022-01-13 │
│ 21515       ┆ 5954184321515  ┆ eGFR_using_creatinine_CKD_EPI_pe… ┆ 90.0  ┆ 2020-10-30 │
│ 21515       ┆ 5954184321515  ┆ eGFR_using_creatinine_CKD_EPI_pe… ┆ 90.0  ┆ 2021-10-19 │
│ 21515       ┆ 5954184321515  ┆ eGFR_using_creatinine_CKD_EPI_pe… ┆ null  ┆ 2021-10-19 │
└─────────────┴────────────────┴───────────────────────────────────┴───────┴────────────┘

In [15]:
display(lazy_table_frames_dict)

{'lazy_static_table': <polars.LazyFrame object at 0x7F653F62A170>}

Alternatively, we may which to generate groups/batches of individuals for vectorisation. In that case we can pass in a list of lists. We generate over the outer list, and each call yields all the inner list values.

For example, in the below we have an outer list of all practices, and an inner list of patients within the practice. Consequently, each call to generate yields all records of all patients within a practice.

In [ ]:
# generator = collector._lazy_generate_by_distinct(practice_ids, ["static_table", "measurement_table", "diagnosis_table"], "PRACTICE_PATIENT_ID")
# for _idx, (chunk_name, lazy_table_frames_dict) in enumerate(generator):
#     break
    
# # print(f"Chunk containing practice ID: {chunk_name}\n\n")
# display(lazy_table_frames_dict["lazy_static"].collect().head())
# display(lazy_table_frames_dict["lazy_measurement"].collect().head())
# display(lazy_table_frames_dict["lazy_diagnosis"].collect().head())

### Test collation of generated lazy frames

In [15]:
lazy_batch = collector._collate_lazy_tables(lazy_table_frames_dict)

DEBUG:root:Dropping missing measurements
DEBUG:root:Removing patients with no observed events

### View how tables are aligned

In [16]:
batch = lazy_batch.collect()
display(batch)

first_identifier = list(batch["PRACTICE_PATIENT_ID"].unique())[0]
display(first_identifier)
                        
row = batch.filter(pl.col("PRACTICE_PATIENT_ID") == first_identifier)
display(row)


measur = lazy_table_frames_dict["lazy_measurement"].collect()
row = measur.filter(pl.col("EVENT") == "Diastolic_blood_pressure_5")
display(row)

shape: (10_849, 13)
┌───────────┬──────────┬────────────┬────────────┬───┬───────────┬──────────┬──────────┬───────────┐
│ PRACTICE_ ┆ PATIENT_ ┆ VALUE      ┆ EVENT      ┆ … ┆ HEALTH_AU ┆ INDEX_DA ┆ START_DA ┆ END_DATE  │
│ ID        ┆ ID       ┆ ---        ┆ ---        ┆   ┆ TH        ┆ TE       ┆ TE       ┆ ---       │
│ ---       ┆ ---      ┆ list[f64]  ┆ list[str]  ┆   ┆ ---       ┆ ---      ┆ ---      ┆ datetime[ │
│ i64       ┆ i64      ┆            ┆            ┆   ┆ str       ┆ datetime ┆ datetime ┆ μs]       │
│           ┆          ┆            ┆            ┆   ┆           ┆ [μs]     ┆ [μs]     ┆           │
╞═══════════╪══════════╪════════════╪════════════╪═══╪═══════════╪══════════╪══════════╪═══════════╡
│ 21515     ┆ 59541836 ┆ [59.5,     ┆ ["O_E___he ┆ … ┆ North     ┆ 2019-06- ┆ 2019-06- ┆ 2022-03-1 │
│           ┆ 21515    ┆ 5.88]      ┆ ight_1",   ┆   ┆ West      ┆ 18       ┆ 18       ┆ 9         │
│           ┆          ┆            ┆ "O_E___wei ┆   ┆           ┆ 00:00:00 ┆ 00:00:00 ┆ 00:00:00  │
│           ┆          ┆            ┆ ght…       ┆   ┆           ┆          ┆          ┆           │
│ 21515     ┆ 59541843 ┆ [15.9,     ┆ ["Body_mas ┆ … ┆ North     ┆ 2005-05- ┆ 2005-05- ┆ 2022-03-1 │
│           ┆ 21515    ┆ 161.5, …   ┆ s_index_3" ┆   ┆ West      ┆ 14       ┆ 14       ┆ 9         │
│           ┆          ┆ 12.2]      ┆ , "O_E___h ┆   ┆           ┆ 00:00:00 ┆ 00:00:00 ┆ 00:00:00  │
│           ┆          ┆            ┆ ei…        ┆   ┆           ┆          ┆          ┆           │
│ 21515     ┆ 59541847 ┆ [3.9]      ┆ ["O_E___we ┆ … ┆ North     ┆ 2012-03- ┆ 2012-03- ┆ 2013-11-1 │
│           ┆ 21515    ┆            ┆ ight_2"]   ┆   ┆ West      ┆ 22       ┆ 22       ┆ 6         │
│           ┆          ┆            ┆            ┆   ┆           ┆ 00:00:00 ┆ 00:00:00 ┆ 00:00:00  │
│ 21515     ┆ 59541852 ┆ [64.0,     ┆ ["Diastoli ┆ … ┆ North     ┆ 2005-01- ┆ 2005-01- ┆ 2022-03-1 │
│           ┆ 21515    ┆ 110.0]     ┆ c_blood_pr ┆   ┆ West      ┆ 01       ┆ 01       ┆ 9         │
│           ┆          ┆            ┆ essure_5", ┆   ┆           ┆ 00:00:00 ┆ 00:00:00 ┆ 00:00:00  │
│           ┆          ┆            ┆ "…         ┆   ┆           ┆          ┆          ┆           │
│ …         ┆ …        ┆ …          ┆ …          ┆ … ┆ …         ┆ …        ┆ …        ┆ …         │
│ 21515     ┆ 10997985 ┆ [54.5,     ┆ ["O_E___he ┆ … ┆ North     ┆ 2022-03- ┆ 2022-03- ┆ 2022-03-1 │
│           ┆ 021515   ┆ 4.05, …    ┆ ight_1",   ┆   ┆ West      ┆ 17       ┆ 17       ┆ 9         │
│           ┆          ┆ 7.2]       ┆ "O_E___wei ┆   ┆           ┆ 00:00:00 ┆ 00:00:00 ┆ 00:00:00  │
│           ┆          ┆            ┆ ght…       ┆   ┆           ┆          ┆          ┆           │
│ 21515     ┆ 10997985 ┆ [55.5,     ┆ ["O_E___he ┆ … ┆ North     ┆ 2022-03- ┆ 2022-03- ┆ 2022-03-1 │
│           ┆ 121515   ┆ 4.61]      ┆ ight_1",   ┆   ┆ West      ┆ 17       ┆ 17       ┆ 9         │
│           ┆          ┆            ┆ "O_E___wei ┆   ┆           ┆ 00:00:00 ┆ 00:00:00 ┆ 00:00:00  │
│           ┆          ┆            ┆ ght…       ┆   ┆           ┆          ┆          ┆           │
│ 21515     ┆ 10997985 ┆ [85.0,     ┆ ["O_E___he ┆ … ┆ North     ┆ 2022-03- ┆ 2022-03- ┆ 2022-03-1 │
│           ┆ 321515   ┆ 11.0]      ┆ ight_1",   ┆   ┆ West      ┆ 17       ┆ 17       ┆ 9         │
│           ┆          ┆            ┆ "O_E___wei ┆   ┆           ┆ 00:00:00 ┆ 00:00:00 ┆ 00:00:00  │
│           ┆          ┆            ┆ ght…       ┆   ┆           ┆          ┆          ┆           │
│ 21515     ┆ 10998544 ┆ [64.0,     ┆ ["O_E___he ┆ … ┆ North     ┆ 2022-03- ┆ 2022-03- ┆ 2022-03-1 │
│           ┆ 621515   ┆ 5.93]      ┆ ight_1",   ┆   ┆ West      ┆ 18       ┆ 18       ┆ 9         │
│           ┆          ┆            ┆ "O_E___wei ┆   ┆           ┆ 00:00:00 ┆ 00:00:00 ┆ 00:00:00  │
│           ┆          ┆            ┆ ght…       ┆   ┆           ┆          ┆          ┆           │
└───────────┴──────────┴────────────┴────────────┴───┴───────────┴──────────┴──────────┴───────────┘

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /tmp/ipykernel_2217528/1443966763.py:4 in <module>                                               │
│                                                                                                  │
│ [Errno 2] No such file or directory: '/tmp/ipykernel_2217528/1443966763.py'                      │
│                                                                                                  │
│ /rds/bear-apps/2022a/EL8-ice/software/polars/0.17.12-foss-2022a/lib/python3.10/site-packages/pol │
│ ars/dataframe/frame.py:1612 in __getitem__                                                       │
│                                                                                                  │
│   1609 │   │   # select single column                                                            │
│   1610 │   │   # df["foo"]                                                                       │
│   1611 │   │   if isinstance(item, str):                                                         │
│ ❱ 1612 │   │   │   return wrap_s(self._df.column(item))                                          │
│   1613 │   │                                                                                     │
│   1614 │   │   # df[idx]                                                                         │
│   1615 │   │   if isinstance(item, int):                                                         │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
ColumnNotFoundError: PRACTICE_PATIENT_ID

# Demo wrapper

All of this is wrapped together (without the option to filter - add your own wrapper specific to you application)

In [ ]:
# for _idx, (chunk_name, lazy_table_frames_dict) in enumerate(collector.generator()):
#     lazy_batch = collector._collate_lazy_tables(**lazy_table_frames_dict)
#     break
# print(_idx)
# print(lazy_batch.collect())

In [ ]:
!jupyter nbconvert --to html --no-input buildV2.ipynb